body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


#time {
    font-size: 40vh;
    text-align: center;
    padding: 32px;
}

.spacersmol {
    display: block; /* Ensure it appears as a block element */
    margin-top: 1em; /* Adjust the top margin to create space */
}
