h2 {
    font-size: 50px;
    text-align: center;
}

a {
    font-size: 2vw;
    color: orange;
}

body {
    background-image: url('../assets/background.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: Calibri, sans-serif;
    color: whitesmoke;
}

#dltyped {
    height: 100px;
    padding: 10px;
    font-size: 80px;
    display: block;
    text-align: center;
}