/* Fonts (in case they're not installed)*/
@import url("../fonts/Montserrat.css");
@import url("../fonts/Calibri.css");

/* Stuff that needs to affect the whole page */
body {
    background-image: url('../assets/background.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: 'Calibri', sans-serif;
    cursor: url('../assets/g305cursor.png'), default;
}

a {
    color: lightblue;
    cursor: url('../assets/g305cursorgreen.png'), pointer;
}

button {
    background-color: black;
    color: aqua;
    border-width: 0;
}

.abutp {
    color: white;
    text-decoration: none;
}

.abutp:hover {
    color: lightgrey;
}

/* Main content area (index.html) */
.maindivdiv {
    display: flex;
    justify-content: space-between; /* Horizontally center the inner divs */
    margin: 0 10em;
}

/* The sidebar menu */
.sidenav {
    height: 100vh;
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    font-family: 'Montserrat', sans-serif;
}

/* When you mouse over the navigation links, change their colour */
.sidenav a:hover {
    color: #f1f1f1;
}

#sidenavbtn {
    display: none;
    background-color: #111;
    color: aqua;
}

/* Style page content */
.main {
    margin-left: 12%;
    padding: 0px 10px;
    color: white;
    font-size: large;
}

.centretext {
    text-align: center;
}

.centreplease {
    display: flex;
    justify-content: space-between; /* Horizontally center the inner divs */
}

.section {
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid #fff;
}

.section div {
    padding: 0px 20px;
    min-width: 10%;
}

.hovertext {
    display: none;
}

.makehover:hover .hovertext {
    display: block;
}

.mobileonly {
    display: none;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (max-width: 1100px) {
    .sidenav {
        display: none;
        width: 35%;
        order: 2;

    }
    .main {
        margin-left: 0;
    }
    .maindivdiv {
        flex-direction: column; /* Change to a column layout */
        text-align: center;
    }
    #sidenavbtn {
        display: block;
        order: 1;
    }
    .mobileonly {
        display: block;
        text-align: center;
    }
}
