@import url("https://wilburwilliams.uk/fonts/Montserrat.css");

.dropdown {
    position: absolute;
    top: 0;
    right: 0;
}

.dropdown .dropdown-content {
    left: -100px;
}

.dropdown .dropbtn, .dropdown2 .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: orange;
    background-color: transparent;
    margin: auto;
    cursor: pointer;
}


.dropdown-content a {
    color: aqua;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #1d2a52;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Style for dropdown2 */
.dropdown2 {
    position: absolute;
    top: 0;
    left: 0;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: darkslategrey;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}
  
/* Show the dropdown content on hover */
.dropdown2:hover .dropdown-content {
    display: block;
}
  
/* Style the dropdown links */
.dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropbtn {
    background-color: darkblue;
    color: aqua;
}

.dropbtn:hover {
    background-color: navy;
}

/* Style for the search box */
#searchForm {
    text-align: center;
    width: 40%;
}

#searchbit {
    display: flex;
    justify-content: center; /* Horizontally center the inner divs */
    align-items: center; /* Vertically center the inner divs */
}

#searchInput {
    padding: 20px; /* Increased padding */
    font-size: 24px; /* Increased font size */
    width: calc(100% - 30px); /* Adjusted width to consider padding */
    border: none; /* Removed border */
    border-radius: 10px; /* Rounded corners */
    background-color: darkcyan; /* Grey background */
    color: #37f32e;
    font-family: 'Montserrat', sans-serif;
}

.stuffbelowsearchbit button {
    width: 100%; /* Make it take the full width of the parent */
    max-width: 200px; /* Limit the maximum width */
    background-color: orange;
    margin: 10px auto; /* Center the search button horizontally */
    color: navy;
}

.stuffbelowsearchbit {
    display: flex;
    justify-content: center; /* Horizontally center the inner divs */
    align-items: center; /* Vertically center the inner divs */
    margin: 0 10em;
    margin-left: 35%;
    margin-right: 35%;
}

.stuffbelowsearchbit button {
    border-radius: 5px;
    padding: 5px;
    border: none; /* Removed border */
}

button:hover {
    background-color: green;
    color: aqua;
}

#quicklinks {
    display: flex;
    justify-content: space-between; /* Horizontally center the inner divs */
    align-items: center; /* Vertically center the inner divs */
    margin-left: 35%;
    margin-right: 35%;
}

#quicklinks button {
    width: 18%;
    border: none;
    margin: 0;
    padding: 0;
}

#quicklinks img {
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    background-color: darkcyan;
}


input::placeholder {
    color: orange;
    opacity: 1; /* Fix for Firefox */
}

.main {
    margin-top: 100px; /* Increased margin to avoid overlap with the search box */
}

h1 {
    text-align: center;
    font-size: 48px;
    padding: none;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    text-align: center;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(
        135deg,
        #1b2c56,
        #1d2a52,
        #1f2850,
        #21264d,
        #23254a,
        #252347,
        #272145,
        #292042,
        #2b1e3f,
        #2d1d3c,
        #2f1b39,
        #311937,
        #331734,
        #351631,
        #37152f,
        #39132c,
        #3b1129,
        #3d1026,
        #3f0e24,
        #410c21,
        #430a1e,
        #070d1a
    ); /* Background gradient */
    color: #37f32e;
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
}

.spacer {
    padding: 2%;
}

.spacersmol {
    padding: 1%;
}

@media screen and (max-width: 1100px) {
    #quicklinks button {
        width: 25%; /* Adjusted width for smaller screens */
    }
}

@media screen and (max-width: 768px) {
    #quicklinks button {
        width: 30%; /* Adjusted width for smaller screens */
    }
}

@media screen and (max-width: 400px) {
    #quicklinks button {
        width: 40%; /* Adjusted width for smaller screens */
    }
}

@media screen and (max-width: 350px) {
    #quicklinks button {
        width: 50%; /* Adjusted width for smaller screens */
    }
}