.timetable {
    border-collapse: collapse;
    width: 100%;
}

.timetable th, .timetable td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

h1 {
    text-align: center;
}

body {
    height: 100vh;
}