---
import Layout from "../../layouts/HTML5.astro";
---

<Layout title="HTML5 Docs">
	<h1>HTML5 Docs</h1>
	<p>This is a placeholder for HTML5 docs.</p>
	<p>It will be replaced with the actual HTML5 docs when they are ready.</p>
</Layout>