/* This is just general stuff I find myself always redoing */

button {
    width: 100%; /* Make it take the full width of the parent */
    max-width: 200px; /* Limit the maximum width */
    margin: 10px auto; /* Center the search button horizontally */
    border-radius: 5px;
    padding: 5px;
    border: none; /* Removed border */
}

h1 {
    text-align: center;
    font-size: 48px;
    padding: none;
}

h2, h3 {
    text-align: center;
}

p {
    text-align: center;
}