/* very much in testing */

:root {
    --max-width: 700px;
    --max-header-width: 700px;
    --max-nav-width: 1000px;

    --text-colour: white;
    --text-font: 'Reddit Sans', 'Calibri', sans-serif;
    --link-colour: lightblue;
    --link-hover-colour: cyan;

    --bg: url("assets/background.png");
    --nav-bg: rgb(20, 10, 50);
    --section-bg: rgb(51, 51, 51);
    --footer-bg: rgb(20, 0, 109);

    --nav-pos: absolute; /* Change to 'fixed' if you want the bar to stay at the top of the screen no matter how far you scroll*/
}


body {
    font-family: var(--text-font);
    background: var(--bg);
    background-size: cover;
    color: var(--text-colour);
    max-width: 100vw;
    max-height: 100vh;
}

a {
    color: var(--link-colour);
}

a:hover {
    color: var(--link-hover-colour);
}

.nav, nav {
    background: var(--nav-bg);
    padding-top: 10px;
    padding-bottom: 10px;
    position: var(--nav-pos);
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}

.nav div {
    max-width: var(--max-nav-width);
    font-size: large;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.nav a {
    padding: 5px;
}

.header, header {
    justify-content: space-between;
    margin: 20px auto;
    padding: 10px;
    max-width: var(--max-header-width);
    width: calc(100% - 20px);
}

.main, main {
    margin: 20px auto;
    max-width: var(--max-width);
    width: calc(100% - 20px);
}

.section, section {
    padding: 15px;
    margin: 10px;
    display: block;
    background: var(--section-bg);
}

.footer, footer {
    padding: 2px;
    background: var(--footer-bg);
    text-align: center;
}


.centreplease {
    display: flex;
    justify-content: space-between;
}

.centreimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* Light mode */
@media (prefers-color-scheme: light) {
    :root {
        --text-colour: black;
        --link-colour: blue;
        --link-hover-colour: navy;

        --bg: white;
        --nav-bg: aqua;
        --section-bg: lightgrey;
        --footer-bg: rgb(27, 139, 5);
    }
}