---
import Blog from '../../../layouts/Blog.astro';
---

<Blog title="Mirrors">
    <div id="main">
        <h1>MOVED</h1>
        <p>This page has been moved to <a href="/mirrors">/mirrors</a></p>
    </div>
</Blog>