---
import Blog from '../../../layouts/Blog.astro';
import Table from '../../../components/Table.astro';
---

<Blog title="Mirrors">
    <div id="main">
        <h1 class="centretext">Mirrors</h1>
        <p class="centretext">2025-04-22</p>
        <h2>Mirror table and links</h2>
        <Table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Directory (sathonyia)</th>
                    <th>Directory (melina)</th>
                    <th>Sync source (sathonyia)</th>
                    <th>Sync source (melina)</th>
                    <th>Sync frequency</th>
                    <th>Size</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="https://archlinux.org">Arch Linux</a></td>
                    <td><a href="https://repo.c48.uk/arch/">/arch/</a></td>
                    <td><a href="https://de.repo.c48.uk/arch/">/arch/</a></td>
                    <td>mirror.group.one::archlinux</td>
                    <td>mirror.group.one::archlinux</td>
                    <td>Hourly</td>
                    <td>~115GB</td>
                </tr>
                <tr>
                    <td><a href="https://endeavouros.com">EndeavourOS</a></td>
                    <td><a href="https://repo.c48.uk/endeavouros/">/endeavouros/</a></td>
                    <td><a href="https://de.repo.c48.uk/endeavouros/">/endeavouros/</a></td>
                    <td>mirror.alpix.eu::endeavouros</td>
                    <td>mirror.alpix.eu::endeavouros</td>
                    <td>Hourly</td>
                    <td>~75GB</td>
                </tr>
                <tr>
                    <td><a href="https://linuxmint.com">Linux Mint (ISOs)</a></td>
                    <td><a href="https://repo.c48.uk/mint/isos/">/mint/isos/</a></td>
                    <td><a href="https://de.repo.c48.uk/mint/isos/">/mint/isos/</a></td>
                    <td>pub.linuxmint.com::pub</td>
                    <td>repo.c48.uk::mintiso</td>
                    <td>Every 6 hours</td>
                    <td>~125GB</td>
                </tr>
                <tr>
                    <td><a href="https://linuxmint.com">Linux Mint (Packages)</a></td>
                    <td><a href="https://repo.c48.uk/mint/pkgs/">/mint/pkgs/</a></td>
                    <td><a href="https://de.repo.c48.uk/mint/pkgs/">/mint/pkgs/</a></td>
                    <td>rsync-packages.linuxmint.com::packages</td>
                    <td>repo.c48.uk::mintpkg</td>
                    <td>Every 4 hours</td>
                    <td>~45GB</td>
                </tr>
                <tr>
                    <td><a href="https://ubuntu.com">Ubuntu (Releases)</a></td>
                    <td><a href="https://repo.c48.uk/ubuntu/releases/">/ubuntu/releases/</a></td>
                    <td>none</td>
                    <td>rsync.releases.ubuntu.com::releases</td>
                    <td>none</td>
                    <td>Hourly</td>
                    <td>~55GB</td>
                </tr>
            </tbody>
        </Table>
    </div>
</Blog>