html, body {
  animation: funnyRainbow linear 12s infinite;
  animation-direction: normal;
  color: white;
}

a, p, h1 {
  color: darkslategrey;
  animation: textRainbow linear 4s infinite;
  padding: 4px;
}

@keyframes funnyRainbow {
  0% {background-image:url("https://assets.c48.uk/images/funi/Bojo.avif");} 
  16% {background-image:url("https://assets.c48.uk/images/funi/Bojo2.avif");}
  32% {background-image:url("https://assets.c48.uk/images/funi/funnyJoe.avif");}
  50% {background-image:url("https://assets.c48.uk/images/funi/Bojo3.avif");} 
  66% {background-image:url("https://assets.c48.uk/images/funi/KimJongUn.avif");}
  84% {background-image:url("https://assets.c48.uk/images/funi/fart.avif");}
  100% {background-image:url("https://assets.c48.uk/images/funi/Bojo.avif");} 
  
}

@keyframes textRainbow {
  0% {background-color: red;}
  16% {background-color: orange;}
  32% {background-color: yellow;}
  48% {background-image:green;} 
  64% {background-color: blue;}
  80% {background-color: purple;}
  100% {background-color: red;}
}

@media (prefers-reduced-motion) {
  html, body {
    animation: none;
  }
  
  a, p, h1 {
    color: darkslategrey;
    animation: none;
    padding: 4px;
  }
}