---
import Blog from "../../layouts/Blog.astro"
---

<Blog title="Home">
    <div id="main">
        <div class="blog-preview">
            <h2>Site hosting-stuff list</h2>
            <p><i>2024-06-29 (updated 2025-03-01)</i></p>
            <p>A list of CDNs and hosting providers for your sites.</p>
            <a href="2024/sitelist/">Read here.</a>
        </div>
        <br>
        <div class="blog-preview">
            <h2>Pranked by Pittab :D</h2>
            <p><i>2024-12-18, then updated 2024-12-19, then again 2024-12-20</i></p>
            <p>totally an original idea to prank wilbur</p>
            <a href="2024/pittabprank/">Read here.</a>
        </div>
        <br>
        <div class="blog-preview">
            <h2>How Did We Get Here?</h2>
            <p><i>2024-10-29</i></p>
            <p>Why I'm in the communities that I am in, I guess.</p>
            <a href="2024/hdwgh/">Read here.</a>
        </div>
        <br>
        <div class="blog-preview">
            <h2>Hehe, Kieran infiltrated this blog!!!</h2>
            <p><i>2024-10-19 (Updated 2024-10-29)</i></p>
            <p>Wilbur is going to kill me now so nice knowing you guys!</p>
            <a href="2024/prank/">Read here.</a>
        </div>
        <br>
        <div class="blog-preview">
            <h2>Asexual</h2>
            <p><i>2024-09-30, updated 2025-01-08</i></p>
            <p>Yeah... so I realised that recently.</p>
            <a href="2024/ace/">Read here.</a>
        </div>
        <br>
        <div class="blog-preview">
            <h2>The history of this website</h2>
            <p><i>2024-06-15 (Updated 2025-02-05)</i></p>
            <p>The history of this website, and how it came to be.</p>
            <a href="2024/website-history/">Read here.</a>
        </div>
        <br>
        <div class="blog-preview">
            <h2>General Political Opinions</h2>
            <p><i>2024-08-08</i></p>
            <p>My political opinions cuz maybe new special interest??</p>
            <a href="2024/politics/">Read here.</a>
        </div>
        <br>
        <div class="blog-preview">
            <h2>wilburwilliams.com</h2>
            <p><i>2024-06-26</i></p>
            <p>A new domain that I have now.</p>
            <a href="2024/dotcom/">Read here.</a>
        </div>
    </div>
</Blog>