<!DOCTYPE html>
<html>

<head>
  <style>
    html,
    body {
      background-image: url(https://assets.c48.uk/images/HTML2/French-flag.png);
    }

    p {
      background-color: url(https://assets.c48.uk/images/HTML2/French-flag.png);
      color: url(https://assets.c48.uk/images/HTML2/French-flag.png)
    }
  </style>
  <title>Our website</title>
</head>

<body>

  <h1>Welcome to France (it's kinda cool tbh)</h1>
  <br><br>
  <p>Bonjour mes amis!</p>
  <a href="../">
    <h1>Alright get out</h1>
  </a>

</body>

</html>