<!DOCTYPE html>
<html>

<head>
  <style>
    @keyframes rainbowEffect {
      0% {
        background-color: red;
      }

      20% {
        background-color: orange;
      }

      40% {
        background-color: yellow;
      }

      60% {
        background-color: green;
      }

      80% {
        background-color: blue;
      }

      100% {
        background-color: purple;
      }
    }

    bg {
      animation-name: rainbownEffect;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  </style>
  <title>Our website</title>
</head>

<body>
  <script is:inline>
    async function button1Function() {
      document.getElementById("button1").addEventListener("click", function() {
        document.body.style.backgroundColor =
          `rgb(${Math.floor(Math.random() * 256)}, ${Math.floor(Math.random() * 256)}, ${Math.floor(Math.random() * 256)})`;
      });
    }
  </script>

  <!-- Wowee -->
  <h1><b>Hello there! Welcome to my part of the website...</h1>(partially owned by jasper and wilbur(and under strict
  observation))</b><code>stop it jasper</code>
  <hr>
  <a href="../">Click here to leave (good decision)</a><br><br>
  <button id="button1" onclick="button1Function()">Click me, it will be cool!</button><br><br>
  <a href="france/"><button id="button2">Click me, it will be cooler!</button></a><br><br>

  <a href="holymoly/">Wowie!</a>

  <p>Grizzy123456 was here... :D</p>

</body>

</html>