body {
    background-color: #000;
    color: #fff;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 20px;
    margin: 0;
}

header {
    background-color: #333;
    padding: 20px;
}

h1 {
    color: #00f;
}

a {
  color: orange;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00f;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
}

.button:hover {
    background-color: #0044cc;
}