---
import TclcLayout from "../../../layouts/archived/tclc-layout.astro"
---

<TclcLayout title="ThisCatLikesCrypto's directory">
    <div class=main-content>
        <main class=block-content>
            <div data-section-name=content class="jw-section jw-section-content jw-responsive">
                <div
                    class="jw-tree-node jw-element jw-strip-root jw-tree-container jw-node-is-first-child jw-node-is-last-child">
                    <div
                        class="jw-tree-node jw-element jw-strip jw-tree-container jw-strip--default jw-strip--style-color jw-strip--color-default jw-strip--padding-both jw-node-is-first-child jw-strip--primary jw-node-is-last-child">
                        <div class=jw-strip__content-container>
                            <div class="jw-strip__content jw-responsive">
                                <div class="jw-tree-node jw-element jw-button jw-node-is-first-child">
                                    <div class="jw-btn-container jw-btn-is-left">
                                        <a href="https://youtube.com/thiscatlikescrypto" target=_blank rel=noopener
                                            title=https://youtube.com/thiscatlikescrypto
                                            class="jw-element-content jw-btn jw-btn--size-small jw-btn--style-flat jw-btn--roundness-rounded">
                                            <div class=jw-btn-caption>
                                                Push Button </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="jw-tree-node jw-element jw-image-text jw-node-is-last-child">
                                    <div class=jw-element-imagetext-text>
                                        <p>this whole thing has moved to <a
                                                href="https://wilburwilliams.uk/archive/directory">https://wilburwilliams.uk</a><a
                                                href="https://wilburwilliams.uk/"> </a> </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</TclcLayout>