---
import TclcLayout from "../../../layouts/archived/tclc-layout.astro"
---

<TclcLayout title="Support me | ThisCatLikesCrypto's directory">
    <div class=main-content>
        <main class=block-content>
            <div data-section-name=content class="jw-section jw-section-content jw-responsive">
                <div class="jw-tree-node jw-element jw-strip-root jw-tree-container jw-node-is-first-child jw-node-is-last-child">
                    <div class="jw-tree-node jw-element jw-strip jw-tree-container jw-strip--default jw-strip--style-color jw-strip--color-default jw-strip--padding-both jw-node-is-first-child jw-strip--primary jw-node-is-last-child">
                        <div class=jw-strip__content-container>
                            <div class="jw-strip__content jw-responsive">
                                <div class="jw-tree-node jw-element jw-image-text jw-node-is-first-child jw-node-is-last-child">
                                    <div class=jw-element-imagetext-text>
                                        <h2 class=jw-heading-100>Support me</h2>
                                        <p><span style=color:#4e3ac4>Thanks for choosing to support me! Here are my
                                                addresses:</span></p>
                                        <p><span style=color:#4e3ac4>BTC: 1CfqXT2T5bhRdmbd6WwdT5DkqoeE3h87qD</span>
                                        </p>
                                        <p><span style=color:#4e3ac4>LTC: LXHoNDk98bX5CiNkxYxxKxhGDuVV1DyfCj</span>
                                        </p>
                                        <p><span style=color:#4e3ac4>ETH, Polygon, BSC, DAI:
                                                <span>0xc29982954d1C5a0bCf70a26ad7e5139cf4C2fc30</span></span></p>
                                        <p><span style=color:#4e3ac4>RVN: RUZjHtwa79d5cJKAyGUNdUBTB8PoC2vAwu</span>
                                        </p>
                                        <p>&nbsp;</p>
                                        <p><span style=color:#4e3ac4>Of course you don't have to support me, but it
                                                helps a lot. There are non-monetary ways you can support me as well.
                                                Such as:</span></p>
                                        <p><span style=color:#4e3ac4>- Mining to my cudominer username:
                                                Wilbycat48,</span></p>
                                        <p><span style=color:#4e3ac4>- Using referral links to programs (<a
                                                    data-jwlink-type=page data-jwlink-identifier=7878986
                                                    data-jwlink-title=Home
                                                    href=https://wilburwilliams.uk/archive/tclc-webador/>here), </a>
                                                    </span> <span style=color:#4e3ac4></span></p>
                                        <p><span style=color:#4e3ac4>- Or just by binge watching, commenting, liking
                                                and subscribing.</span></p>
                                        <p>&nbsp;</p>
                                        <p><span style=color:#4e3ac4>No matter how you support me, thanks! It means
                                                a lot!</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </main>
    </div>
</TclcLayout>