---
import Layout from '../../../../../layouts/archived/pfl-layout.astro';
---

<Layout title="How to get one / Emergency Funds / Financial Security | Personal Finance Stuff">
    <div class=main-content>
        <main class=block-content>
            <div data-section-name=content class="jw-section jw-section-content jw-responsive">
                <div class="jw-tree-node jw-element jw-strip-root jw-tree-container jw-node-is-first-child jw-node-is-last-child">
                    <div class="jw-tree-node jw-element jw-strip jw-tree-container jw-strip--default jw-strip--style-color jw-strip--color-default jw-strip--padding-both jw-node-is-first-child jw-strip--primary jw-node-is-last-child">
                        <div class=jw-strip__content-container>
                            <div class="jw-strip__content jw-responsive">
                                <div class="jw-tree-node jw-element jw-image-text jw-node-is-first-child jw-node-is-last-child">
                                    <div class=jw-element-imagetext-text>
                                        <h2 class=jw-heading-100>How to get one</h2>
                                        <p><span style=color:#3e2f9d>So, you want an emergency fund. You get one
                                                by...:</span></p>
                                        <p><span style=color:#3e2f9d>1. Set up a instant-access savings account in a
                                                <strong>SEPERATE</strong> bank than the one that you have it set up
                                                in already. This is to prevent you being able to easily move money
                                                to your checking/current account, which means it is easy to steal
                                                from your own savings.&nbsp;</span></p>
                                        <p><span style=color:#3e2f9d>2. Decide on a specific number to save. This
                                                should be 3-6 months of your <strong>expenses.&nbsp;</strong>This
                                                means that the money should be enough to fund a critical home
                                                repair, or a new (used) car.&nbsp;</span></p>
                                        <p><span style=color:#3e2f9d>3. Save a certain amount every month. Cancel as
                                                many subscriptions as you can, minimise energy usage, and see how
                                                much you can save.</span></p>
                                        <p>&nbsp;</p>
                                        <p><strong><span style=color:#3e2f9d>Hope you found these tips useful, and
                                                    good luck!</span></strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</Layout>