---
import Layout from '../../../../../layouts/archived/pfl-layout.astro';
---
<Layout title="The importance of them / Emergency Funds / Financial Security | Personal Finance Stuff">
    <div class=main-content>
        <main class=block-content>
            <div data-section-name=content class="jw-section jw-section-content jw-responsive">
                <div class="jw-tree-node jw-element jw-strip-root jw-tree-container jw-node-is-first-child jw-node-is-last-child">
                    <div class="jw-tree-node jw-element jw-strip jw-tree-container jw-strip--default jw-strip--style-color jw-strip--color-default jw-strip--padding-both jw-node-is-first-child jw-strip--primary jw-node-is-last-child">
                        <div class=jw-strip__content-container>
                            <div class="jw-strip__content jw-responsive">
                                <div class="jw-tree-node jw-element jw-image-text jw-node-is-first-child">
                                    class="jw-tree-node jw-element jw-image-text jw-node-is-first-child">
                                    <div class=jw-element-imagetext-text>
                                        <h2 class=jw-heading-100>The importance of them</h2>
                                        <p><span style=color:#4e3ac4>Emergency funds can be the difference between
                                                spending a thousand, or spending tens of thousands of dollars in
                                                interest. In a 2019 study, 40% of Americans reported that they could
                                                not afford a $400 emergency. This is another way of saying that 40%
                                                of Americans have no financial flexibility or freedom.&nbsp;</span>
                                        </p>
                                        <p><span style=color:#4e3ac4>Imagine if you had a critical home repair to
                                                do. It would cost you $2000, could you afford that? If you had a
                                                6-month emergency fund (6 months of expenses saved), you
                                                would&nbsp;<strong>easily</strong> be able to afford it! However, if
                                                you didn't have anything in savings, you'd have to use a credit
                                                card, and their interest rates reach an average of 19%! That means
                                                that you would pay $380 in interest, even if you paid it off in only
                                                one year!</span></p>
                                        <p><span style=color:#4e3ac4>Here's how to get one:</span></p>
                                        <p>&nbsp;</p>
                                    </div>
                                </div>
                                <div id=jw-element-150682086 data-jw-element-id=150682086
                                    class="jw-tree-node jw-element jw-button jw-node-is-last-child">
                                    <div class="jw-btn-container jw-btn-is-left">
                                        <a href=/archive/pfl-webador/financial-security/emergency-funds/how-to-get-one
                                            title="How to get one"
                                            class="jw-element-content jw-btn jw-btn--size-small jw-btn--style-flat jw-btn--roundness-rounded">
                                            <div class=jw-btn-caption>
                                                How to get an emergency fund </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</Layout>