---
import Layout from "../../../../layouts/archived/pfl-layout.astro";
---

<Layout title="Saving for Goals | Personal Finance Stuff">
    <div class=main-content>
        <main class=block-content>
            <div data-section-name=content class="jw-section jw-section-content jw-responsive">
                <div id=jw-element-151400041 data-jw-element-id=151400041
                    class="jw-tree-node jw-element jw-strip-root jw-tree-container jw-node-is-first-child jw-node-is-last-child">
                    <div id=jw-element-351633376 data-jw-element-id=351633376
                        class="jw-tree-node jw-element jw-strip jw-tree-container jw-strip--default jw-strip--style-color jw-strip--color-default jw-strip--padding-both jw-node-is-first-child jw-strip--primary jw-node-is-last-child">
                        <div class=jw-strip__content-container>
                            <div class="jw-strip__content jw-responsive">
                                <div id=jw-element-151400139 data-jw-element-id=151400139
                                    class="jw-tree-node jw-element jw-image-text jw-node-is-first-child jw-node-is-last-child">
                                    <div class=jw-element-imagetext-text>
                                        <h2 class=jw-heading-100>Saving for Goals</h2>
                                        <p><span style=color:#202020>Here are the articles related to saving for
                                                goals:</span></p>
                                        <p><span style=color:#202020><a data-jwlink-type=page
                                                    data-jwlink-identifier=9103698
                                                    data-jwlink-title="Saving for Retirement"
                                                    href=/archive/pfl-webador/saving-for-goals/saving-for-retirement
                                                    style=color:#202020>Saving for Retirement</a></span></p>
                                        <p><span style=color:#202020><a data-jwlink-type=page
                                                    data-jwlink-identifier=9112143
                                                    data-jwlink-title="Saving for a downpayment"
                                                    href=/archive/pfl-webador/saving-for-goals/saving-for-a-downpayment
                                                    style=color:#202020>Saving for a Downpayment on a
                                                    house</a></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</Layout>