---
import Layout from '../../layouts/archived/Layout-20250904.astro';
---

<Layout title="Directory | Wilbur's Site" description='Directory of referral links from when cryptocurrency was my main interest'>
    <h1>Directory</h1>
    <h2>(crypto links)</h2>
    <h3>This is basically just a page of referral links from when cryptocurrency was my main interest</h3>
    <h4>This was originally hosted at thiscatlikescrypto.webador.com</h4>
    <h5>(idrc abt it anymore but free money is free)</h5>
    <h6>wow all the way to h6 never seen that before</h6>
    <i>be safe out there with this and dont get scammed</i>
    <br>
    <br>
    <div id="freeshit">
        <p>Low-power-usage internet sharing apps (I use all of these)</p>
        <p><a href="https://packetstream.io/?psr=1zMS">Packetstream - Earn for free by sharing your internet connection</a> (Ref code 1zMS)</p>
        <p><a href="https://pawns.app/?r=ThisCatLikesCrypto">Pawns.app - Similar to packetstream, use at the same time to earn more</a> (Ref code ThisCatLikesCrypto)</p>
        <p><a href="https://app.getgrass.io/register/?referralCode=KOPbs7Fj1hUEs4e">Grass &ndash; Similar again again but it's more AI focused (of course it is)</a> (Ref code KOPbs7Fj1hUEs4e)</p>
        <p><a href="https://speedshare.app/?ref=Cat48">Speedshare - Yet another one</a> (Ref code Cat48)</p>
        <p><a href="https://earn.fm/ref/THISVDME">Earn.FM (or just EarnFM) - Yet another another one</a> (Ref code THISVDME)</p>
        <p><a href="https://spide.network/register.html?979d1d">Spide Network - I'm running out of original descriptions</a> (Ref code 979d1d)</p>
        <p><a href="https://peer.proxyrack.com/ref/e3lvlx0frbprz7zh8omampa35q9fxcrlbh19a3c2">Proxyrack (peer) - Erm... be a proxy service and get paid for it!</a> (Ref code e3lvlx0frbprz7zh8omampa35q9fxcrlbh19a3c2)</p>
        <p><a href="https://link.uprock.com/i/f2b97f74">Uprock - More similar to Grass in purpose but same thing basically (very much in beta as i write this)</a> (Ref code f2b97f74)</p>
        <p><a href="https://bytelixir.com/r/MYLMXUFUDJWV">Bytelixir - *Takes bite*, "oops, wrong bite!" (help)</a> (Ref code MYLMXUFUDJWV)</p>
        <p><a href="https://bitping.com/earn">Bitping - Similar thing except it looks cooler and doesn't have a refferal system</a></p>
    </div>
    <p>&nbsp;</p>
    <p>Trading, HODLing, interest section</p>
    <p><a href="https://app.stormgain.com/friend/BNS26560902">StormGain &ndash; Trade with confidence and use the Cloud Miner to earn free Tether!</a></p>
    <p><a href="https://guarda.com">Guarda &ndash; Multi-currency Crypto Wallet</a></p>
    <p><a href="https://changenow.io">ChangeNOW &ndash; Crypto Exchange</a></p>
    <p><a href="https://crypto.com">Crypto.com &ndash; Buy and sell crypto</a></p>
    <p><a href="https://nexo.io/ref/3h4p9dkxip?src=web-link">Nexo - Earn up to 12% on your idle assets (well I think it's more now but :shrug:)</a></p>
    <p>&nbsp;</p>
    <p>Faucets</p>
    <p><a data-jwlink-type="extern" data-jwlink-identifier="http://cointiply.com/r/GzOzd" data-jwlink-title="http://cointiply.com/r/GzOzd" target="_blank" href="http://cointiply.com/r/GzOzd" rel="noopener">Cointiply - Earn free LTC, DOGE, DASH and BTC paid directly to your wallet!&nbsp;</a></p>
    <p>&nbsp;</p>
    <p>Games</p>
    <p><a href="https://rollercoin.com/?r=kll7q6te">Rollercoin &ndash; Play fun arcade games and earn crypto at the same time! Purchase miners for a earnings boost!</a></p>
    <p><a href="https://cryptomininggame.com/?ref=058410adc802">CryptoMiningGame &ndash; Do Jobs, train skills, explore the map, earn crypto!</a></p>
    <p>&nbsp;</p>
    <p>Other Earn / Mine at home</p>
    <p><a data-jwlink-type="extern" data-jwlink-identifier="https://www.cudominer.com/?a=u2bvToYvh" data-jwlink-title="https://www.cudominer.com/?a=u2bvToYvh" href="https://www.cudominer.com/?a=u2bvToYvh">Cudominer - Mine with ease</a></p>
    <p><a href="https://miningpoolstats.stream/" data-jwlink-type="extern" data-jwlink-identifier="https://miningpoolstats.stream/" target="_blank" data-jwlink-readonly="false" rel="noopener">Mining pool stats - A website that helps you to pick a mining pool</a></p>
    <p><a href="https://nbminer.com">NBMiner &ndash; Mine on your GPU</a></p>
    <p><a href="https://xmrig.com">XMRig &ndash; Mine on your CPU</a></p>
    <p><a href="https://cryptotabbrowser.com/20514872">CryptoTab Browser &ndash; Earn free Bitcoin for browsing the web!</a></p>
    <p><span><a href="https://salad.com/download">Salad &ndash; Distributed cloud computing/mining software for gamers. Use my code TJMIEA for 2x earnings (up to $4 earned)</a></span>
    <br><br><br>
</Layout>