@import url("https://assets.c48.uk/fonts/reddit-sans.css");

/* Yes this is Catppuccin. I finally gave in to Pittab's demands.*/
:root {
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;
    --text: #cdd6f4;
    --subtext1: #bac2de;
    --subtext0: #a6adc8;
    --overlay2: #9399b2;
    --overlay1: #7f849c;
    --overlay0: #6c7086;
    --surface2: #585b70;
    --surface1: #45475a;
    --surface0: #313244;
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;
    --inverted-text: var(--crust);
    --selection-color: var(--mauve);
}

.rainbow {
    background: linear-gradient(
        to right,
        var(--rosewater),
        var(--flamingo),
        var(--pink),
        var(--mauve),
        var(--red),
        var(--maroon),
        var(--peach),
        var(--yellow),
        var(--green),
        var(--teal),
        var(--sky),
        var(--sapphire),
        var(--blue),
        var(--lavender)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

body {
    color: aqua;
    font-family: 'Reddit Sans', sans-serif;
    background-color: var(--base);
    line-height: 1.4;
}

a {
    color: rgb(0, 217, 255);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    margin-left: 20%;
    margin-right: 20%;
}

img {
    max-width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse; /* Ensures borders don't double up */
    overflow-x: scroll;
    text-align: center;
}

th, td {
    border: 1px solid white;
    padding: 8px;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

#header {
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}

#headercontent {
    justify-content: space-between;
    display: flex;
    overflow: hidden;
}

#header div h1 {
    font-size: 40px;
    margin: 0;
}

.inlineplease {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main {
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

.blog-preview {
    padding: 20px;
    border: 2px solid white;
    width: 100%;
}

.blog-preview h2 {
    color: #bb86fc;
    margin-top: 0;
}

.centreimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.centretext {
    text-align: center;
}

@media screen and (max-width: 700px) {
    #main {
        margin-left: 0;
        margin-right: 0;
    }

    #header {
        margin-left: 0;
        margin-right: 0;
    }

    .blog-preview {
        padding: 5px;
        border: none;
    }
}

@media screen and (max-width: 600px) {
    #header {
        display: block;
    }
}   