@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    --colour-bg: #121212;
    --colour-nav: #1e1e1e;
    --colour-text: #e5e5e5;
    --colour-accent: #818cf8;
    --colour-muted: #1e1e1e;
    --colour-border: #2e2e2e;
    --colour-links: rgb(9, 240, 9);
}

@media (prefers-color-scheme: light) {
    :root {
        --colour-bg: #ffffff;
        --colour-nav: #f5f5f5;
        --colour-text: #1a1a1a;
        --colour-accent: #4f46e5;
        --colour-muted: #f5f5f5;
        --colour-border: #e0e0e0;
        --colour-links: #231bbb;
    }
}

body {
    background-color: var(--colour-bg);
    color: var(--colour-text);
    font-family: 'Outfit', Calibri, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 1400px;
    margin: 0 auto;
}

a {
    color: var(--colour-links);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    background-color: var(--colour-nav);
    border-right: 1px solid var(--colour-border);
    padding: 1em;
}

nav div {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
}

nav a {
    font-size: 1.2em;
}