body {
    background-color: #121212;
    color: aqua;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Open Sans', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    text-align: center;
}

a {
    color: lightblue;
}

/* All main content areas */
.main {
    font-size: large;
    margin-left: 20%;
    margin-right: 20%;
}

#mainheader {
    font-family: 'SF Mono', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace;
    text-align: center;
}

#mainheader h1 {
    font-size: 2vw;
}

#mainheader h2 {
    font-size: 1.5vw;
}

.co2ex {
    font-size: 1vw;
}

.co2 {
    font-size: 1.5vw;
}

.oversection {
    padding: 5px;
}

.overview {
    display: flex;
    justify-content: space-between;
}

#generationChart {
    float: center;
    width: 100%;
    height: 70vh; /* Adjust this as needed */
}

#everything {
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(32, 30, 30);
}

.widget {
    background-color: rgb(46, 41, 41);
    padding: 5px;
}

#nav {
    text-align: center;
    font-family: 'Reddit Sans', sans-serif;
    background-color: rgb(46, 41, 41);
}

button {
    background-color: rgb(32, 30, 30);
    color: aqua;
    width: 100%; 
    max-width: 200px;
    margin: 10px auto;
    border-radius: 5px;
    padding: 5px;
    border: none;
}

h1 {
    text-align: center;
    font-size: 3rem;
    padding: none;
}

h2, h3 {
    text-align: center;
}

p {
    text-align: center;
}

.centreplease {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 900px){
    #everything {
        background-color: rgb(32, 30, 30);
        margin-left: 0;
        margin-right: 0;
    }
}
