body {
    background-color: #121212;
    height: 100vh;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Open Sans', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  }

.ql-toolbar .ql-stroke {
    fill: none;
    stroke: aqua;
}
  
.ql-toolbar .ql-fill {
    fill: aqua;
    stroke: none;
}
  
.ql-toolbar .ql-picker {
    color: aqua;
}

.ql-picker-options {
    background-color: black !important;
}

#editor {
    width: 70%;
    max-height: 80%;
    float: left;
}

#toolbar {
    width: 52%;
    float: left;
}

#infobar {
    float:left;
}

#charcount {
    font-size: 15px;
    text-align: right;
}

.normalbutton {
    color: aqua !important;
    float: right;
    width: fit-content !important;
    background: none;
    padding: 0.5rem;
    white-space: 0;
}

.normalbutton:hover {
    color: black !important;
    background-color: aqua !important;
}

#info {
    text-align: center;
}

#mainheader {
    font-family: 'SF Mono', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace;
}

.ql-snow{
    .ql-picker{
        &.ql-size{
            .ql-picker-label,
            .ql-picker-item{
                &::before{
                    content: attr(data-value) !important;
                }
            }
        }
    }
    }