<!DOCTYPE html>
<html>

<head>
    <title>raxdflipnote</title>
    <style>
        @import url("https://assets.c48.uk/fonts/reddit-sans.css");

        :root {
            --bg: linear-gradient(135deg,
                    #95ff32,
                    #30cc22);
        }

        body {
            font-family: 'Reddit Sans', sans-serif;
            text-align: center;
            min-height: 100vh;
            background: var(--bg);
        }

        main {
            max-width: 800px;
            margin: auto;
        }

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        button {
            width: 100%;
            /* Make it take the full width of the parent */
            max-width: 400px;
            margin: 10px auto;
            /* Center the search button horizontally */
            border-radius: 5px;
            padding: 20px;
            border: none;
            /* Removed border */
            font-size: 20px;
        }

        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        button:hover {
            text-decoration: underline;
            cursor: pointer;
        }

        .profileimg {
            width: 150px;
            border: none;
        }
    </style>
</head>

<body>
    <main>
        <p>disclaimer: i have no idea why i made this, i am not this guy</p>
        <br>
        <img src="https://assets.c48.uk/images/HTML3/raxdflipnote.avif" class="profileimg">
        <h1>raxdflipnote</h1>
        <h2>Just a fella making Flipnotes in 2024!</h2>
        <a href="https://raxd.store"><button>MERCH</button></a><br>
        <a href="https://www.youtube.com/@raxdflipnote"><button>YOUTUBE</button></a><br>
    </main>
</body>

</html>