<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rickroll challenge | Wilbur's Site</title>
</head>
<body>
    <h1>rickroll challenge</h1>
    <p>When you press the button below, it will start a timer. For each second that passes, 
        there is a 20% chance that you will get a rickroll.</p>
    <button id="start">Start</button>
    <p>Time so far: <span id="time">0</span></p>
    <video style="display: none;" id="video" src="https://assets.c48.uk/videos/rickroll.mp4"></video>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.getElementById("start").onclick = start;
        });
        function start() {
            let time = 0;
            document.getElementById("start").style.display = "none";
            const interval = setInterval(() => {
                time++;
                document.getElementById("time").innerHTML = time.toString();
                if (Math.random() < 0.2) {
                    const video = document.getElementById("video");
                    if (video instanceof HTMLVideoElement) {
                        video.style.display = "block";
                        void video.play();
                    } else {
                        alert("update your fucking browser, even firefox v3.5 has video support");
                    }
                    // break out of setInterval
                    clearInterval(interval);
                }
            }, 1000);
        }
    </script>
</body>