---
import "../../styles/wTextitor.css";

import "quill/dist/quill.snow.css";

import "katex/dist/katex.min.css";
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wTextitor</title>
    <link rel="icon" type="image/x-icon" href="/assets/icon.png">
    <link id="them" href="/css/themes/pitchdark.css" rel="stylesheet">
  </head>
  <body>
    <script src="../../scripts/wTextitor.ts"></script>
    <div id="menubar">
      <div class="dropdown2 ddall">
        <a href="#">File</a>
        <div class="dropdown-content" style="display: none;">
          <a href="#" id="file-save">Manually Save</a>
          <a href="#" id="file-download">Download</a>
          <a href="#" id="file-upload">Upload</a>
          <a href="#" id="file-html-convert">HTML Convert</a>
        </div>
      </div>
      <div class="dropdown ddall">
        <a href="#">Theme</a>
        <div class="dropdown-content" style="display: none;">
          <a href="#" class="theme-option" data-theme="surface">Surface Theme</a>
          <a href="#" class="theme-option" data-theme="deep">Deep Theme</a>
          <a href="#" class="theme-option" data-theme="pitchdark">Dark Theme</a>
        </div>
      </div>
      <div class="ddall">
        <a href="#">Focus</a>
        <div class="dropdown-content" style="display: none;">
          <a href="#" id="foc">Focus Mode</a>
          <a href="#" id="unfoc">Remove Focus Mode</a>
        </div>
      </div>
      <h2 id="doctitle"><span id="name" contenteditable="true" style="color: lightcoral;">Untitled Document</span></h2>
    </div>
    <br>
    <div id="editor">
      <p>Write text here...</p>
    </div>
    <br><br><br><br><br>
    <div id="info">
      <br>
      <h1 id="mainheader">wTextitor v0.2.4a-typescriptified</h1>
      <h1 id="infoh1">What is this?</h1>
      <p id="infop1">This is a simple webapp that, using the <a href="https://quilljs.com">Quill Library</a> (and <a href="https://katex.org/">KaTeX</a>), allows you to write text, and saves to local storage every ten seconds (trigger a manual save by pressing 'Save' in the toolbar.).</p>
      <p id="infop2">In beta; not much is included on top of standard quill yet.</p>
      <p id="infop3">Please submit bugs or outright broken things to ThisCatLikesCrypto/Website (github).</p>
      <a style="font-size: 12px;" href="test.html">demo of the converter (added only a very basic stylesheet)</a>
    </div>
    <div id="htmlout">
      <h1>HTML converted text</h1>
      <code id="convertedhtml"></code>
    </div>
  </body>
</html>