---
import Layout from "../../../layouts/archived/pfl-layout.astro";
---

<Layout title="Financial Security | Personal Finance Stuff">
    <div class=main-content>

        <main class=block-content>
            <div data-section-name=content class="jw-section jw-section-content jw-responsive">
                <div class="jw-tree-node jw-element jw-strip-root jw-tree-container jw-node-is-first-child jw-node-is-last-child">
                    <div class="jw-tree-node jw-element jw-strip jw-tree-container jw-strip--default jw-strip--style-color jw-strip--color-default jw-strip--padding-both jw-node-is-first-child jw-strip--primary jw-node-is-last-child">
                        <div class=jw-strip__content-container>
                            <div class="jw-strip__content jw-responsive">
                                <div class="jw-tree-node jw-element jw-image-text jw-node-is-first-child">
                                    <div class=jw-element-imagetext-text>
                                        <p><strong><span style=color:#202020>This website offers free personal
                                                    finance recommendations to anyone hoping to improve their
                                                    financial situation, and ultimately improve their financial
                                                    situation.&nbsp;</span></strong></p>
                                        <p><span style=color:#202020>Financial literacy is extremely important in
                                                making sure you are happy in your lifestyle, and to make sure you
                                                are less stressed</span><span style=color:#202020>.</span></p>
                                        <p><span style=color:#202020>Please feel free to explore this website to
                                                find what you are looking for.&nbsp;</span></p>
                                        <p><span style=color:#4e3ac4>Under construction as it is really hard to
                                                cover 99% of things, plus I wanted to launch this site early</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</Layout>