<!DOCTYPE html>
<html>
<head>
  <title>Jasper in HTML2</title>
</head>
<body>
  <title>Jasper's Homepage | HTML2</title>
  <h1>Jasper's Homepage</h1>
  <h2>Better than wilbur's</h2>
  <a href="/HTML2/jasper/html-bits/jasper1.html">The Jasper Times</a>
  <a href="/HTML2/jasper/html-bits/jasper2.html">daily country capitals</a>
  <a href="/HTML2/jasper/html-bits/jasper3.html">?????</a>
  <a href="/HTML2/jasper/html-bits/jasper4.html">no.weird</a>
  <a href="/HTML2/jasper/html-bits/jasper4andahalf.html">yes.weird</a> (this doesn't work)
  <a href="/HTML2/jasper/html-bits/jasper5.html">lesson 5 i guess</a>
  <a href="/HTML2/jasper/assesment/Assesment1.html">Assesment.</a>
  <a href="/HTML2/jasper/html-bits/Randomwhatever.html">whatever</a>
  <a href="/HTML2/jasper/randomformthing/form_thing.html">form thing what</a>
  <a href="/HTML2/jasper/LunchTimeThing/LunchTimeHome.html">Lunch Time Home</a>
  <a href="/HTML2/jasper/AIthing/Ai.html">AI thing></a>
  <a href="/HTML2/jasper/innovation-clicker/JS1-2/">Innovators</a>
  <a href="../">Back</a>
</body>
</html>