@keyframes rainbowEffect {
  0% {background-color: red;}
  20% {background-color: orange;}
  40% {background-color: yellow;}
  60% {background-color: green;}
  80% {background-color: blue;}
  100% {background-color: purple;}
}

bg {
  animation-name: rainbownEffect;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}