---
import "../../../styles/HTML2/angles.css";
---

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>What to Buy? | Wilbur's Tech Information| HTML2</title>
</head>

<body>
  <h1>Click on the tabs below for advice on what hardware to buy</h1>
  <script is:inline>
    function openTab(evt, tabName) {
      // Declare all variables
      var i, tabcontent, tablinks;
      // Get all elements with class="tabcontent" and hide them
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      // Get all elements with class="tablinks" and remove the class "active"
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      // Show the current tab, and add an "active" class to the button that opened the tab
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " active";
    }
    const writeToTextFile = (text, fileName) => {
      let textFile = null;
      const makeTextFile = (text) => {
        const data = new Blob([text], {
          type: 'text/plain',
        });
        if (textFile !== null) {
          window.URL.revokeObjectURL(textFile);
        }
        textFile = window.URL.createObjectURL(data);
        return textFile;
      };
      const link = document.createElement('a');
      link.setAttribute('download', fileName);
      link.href = makeTextFile(text);
      link.click();
    };

    function lol() {
      window.location.replace("https://www.youtube.com/watch?v=j5a0jTc9S10");
      writeToTextFile(
        "Hello, as you can see, you have been rickrolled. Here is a file to sit forever on your PC, and remind you of what you have done.",
        "rick")
    }
  </script>
  <div class="tab">
    <button class="tablinks" onclick="openTab(event, 'Tab1')">SSDs</button>
    <button class="tablinks" onclick="openTab(event, 'Tab2')">HDDs</button>
    <button class="tablinks" onclick="openTab(event, 'Tab3')">CPUs</button>
    <button class="tablinks" onclick="openTab(event, 'Tab4')">GPUs</button>
    <button class="tablinks" onclick="openTab(event, 'Tab5')">RAM</button>
    <div id="Tab1" class="tabcontent">
      <h6>‎ ‎ ‎ ‎ </h6>
      <h2>Storage - SSD</h2>
      <table>
        <tr>
          <th>SSD</th>
          <th>Type</th>
          <th>Price/TB</th>
        </tr>
        <tr>
          <td>CheeseSSD 2</td>
          <td>Gen4 NVMe SSD</td>
          <td>£40</td>
        </tr>
        <tr>
          <td>ChungusDrive 3.2</td>
          <td>SATA SSD</td>
          <td>£25</td>
        </tr>
        <tr>
          <td>ValueStor V5</td>
          <td>Gen3 NVMe SSD</td>
          <td>£25</td>
        </tr>
        <tr>
          <td>Jasper 4K</td>
          <td>Gen5 NVMe SSD</td>
          <td>£125</td>
        </tr>
      </table>

      <h3>Best NVMe SSD</h3>
      <button class="tablinks" onclick="lol()">.</button>
      <p>CheeseSSD 2, now only £159.99 (for 4TB)</p>
      <img src="https://assets.c48.uk/images/HTML2/CheeseSSD2.webp">
      <p>It gets 7000MB/s read speeds, and 6900MB/s write speeds. CheeseSSD claims it is also the fastest SSD for normal
        small-file use, topping out at 69 Million read IOPS.
      </p>
      <h3>Best SATA SSD</h3>
      <p>ChungusDrive 3.2, priced £499.99 (for 20TB)</p>
      <img src="https://assets.c48.uk/images/HTML2/ChungusDrive3_2.webp">
      <p>This is an amazing drive to get if you are looking for a high-capacity SSD drive with a reasonable (at least
        for the capacity) drive. It gets 600MB/s read and write speeds, topping out the SATA interface.</p>
      <h3>Best Value Boot Drive</h3>
      <p>ValueStor V5, priced £24.99 (for 1TB)</p>
      <img src="https://assets.c48.uk/images/HTML2/ValueStor_V5.webp">
      <p>We recommend you use this drive as a value boot drive, it is an NVMe Gen3 SSD, topping out at 3000MB/s read and
        2800MB/s write. It also boasts 2 Million read IOPS, letting it be fast enough for all Windows, JasperOS and
        Linux Mint needs.</p>
      <h3>Best Gen5 SSD</h3>
      <p>Jasper 4K SSD, priced £124.99 (for 1TB)</p>
      <img src="https://assets.c48.uk/images/HTML2/Jasper_4K.webp">
      <p>This drive is for RAW SPEED! It has a whopping 15GB/s read and write speeds, and 42.0 million IOPS, for the
        best performing drive you have ever seen. It is expensive, but is the best.
      </p>
      <a href="/HTML2/wilbur/anewhtmlcssjs/">Back to home</a>
    </div>

    <div id="Tab2" class="tabcontent">
      <h6>‎ ‎ ‎ ‎ </h6>
      <h2>Storage - HDD</h2>
      <table>
        <tr>
          <th>HDD</th>
          <th>Type</th>
          <th>Price/TB</th>
        </tr>
        <tr>
          <td>ReliaPlanet NAS Pro</td>
          <td>NAS/Enterprise Drive</td>
          <td>£25</td>
        </tr>
        <tr>
          <td>BackupMaster Speed</td>
          <td>Performance Drive</td>
          <td>£30</td>
        </tr>
      </table>
      <h3>Best NAS Drive</h3>
      <p>Reliaplanet NAS Pro, priced £249.79 (for 10TB)</p>
      <img src="https://assets.c48.uk/images/HTML2/Reliaplanet.webp">
      <p>The Reliaplanet NAS Pro has the ability to be RAIDed with up to 64 other drives, making it perfect for large
        storage arrays. It is also reasonably priced, making it the perfect drive for your redundant mass storage needs.
      </p>
      <h3>Best Performance Drive</h3>
      <p>BackupMaster Speed, priced £120 for 4TB</p>
      <img src="https://assets.c48.uk/images/HTML2/BackupMaster.webp">
      <p>The BackupMaster Speed is a great drive to use for games in your computer, or in an external hard drive
        enclosure. It provides lots of speed (up to 300MB/s) for your workloads, however isn't great in RAID arrays.</p>
      <a href="/HTML2/wilbur/anewhtmlcssjs/">Back to home</a>
    </div>
    <div id="Tab3" class="tabcontent">
      <h6>‎ ‎ ‎ ‎ </h6>
      <h2>Processors - CPU</h2>
      <table>
        <tr>
          <th>CPU</th>
          <th>Type</th>
          <th>Price/Cinebench point</th>
        </tr>
        <tr>
          <td>FlyingCPU W Í6 6666XE</td>
          <td>Workstation CPU</td>
          <td>£0.0175</td>
        </tr>
        <tr>
          <td>HyperCPU Yeze H77</td>
          <td>Gaming CPU</td>
          <td>£0.02</td>
        </tr>
        <tr>
          <td>ASR Va3</td>
          <td>Value CPU</td>
          <td>£0.015</td>
        </tr>
      </table>
      <h3>Best Workstation CPU</h3>
      <p>FlyingCPU W Í6 6666XE, priced £400</p>
      <img src="https://assets.c48.uk/images/HTML2/FlyingCPU.webp">
      <p>This CPU is a great workstation CPU, scoring over 23000 points in Cinebench
        multi-core. It has 18 cores, which
        is great for multi-threaded applications, such as rendering video or compliling programs.</p>
      <h3>Best Gaming CPU</h3>
      <p>HyperCPU Yeze H77, priced £320</p>
      <img src="https://assets.c48.uk/images/HTML2/HyperCPU.webp">
      <p>This CPU is a great gaming CPU. It scores 16000 points in Cinebench, and while
        this isn't as much as the
        FlyingCPU, it gets over double its FPS in most games, thanks to its 10 cores being much faster per core than the
        FlyingCPU's.</p>
      <h3>Best Value CPU</h3>
      <p>ASR Va3, priced £160</p>
      <img src="https://assets.c48.uk/images/HTML2/ASR_Va3.webp">
      <p>This CPU is an amazing value option, scoring 9000 Cinebench points, while coming
        it at only £160. This is one
        of the best value CPUs we've ever seen! It will work great in your basic PC, or even for some medium-load gaming
        or photo editing, but will not work for those who want to get the most out of their PC.</p>
      <a href="/HTML2/wilbur/anewhtmlcssjs/">Back to home</a>
    </div>
    <div id="Tab4" class="tabcontent">
      <h6>‎ ‎ ‎ ‎ </h6>
      <h2>Processors - GPU</h2>
      <table>
        <tr>
          <th>GPU</th>
          <th>Type</th>
          <th>Price/Furmark point</th>
        </tr>
        <tr>
          <td>HyperGPU Y WS9050</td>
          <td>Workstation GPU</td>
          <td>£0.01</td>
        </tr>
        <tr>
          <td>DXQ SS 8080</td>
          <td>Gaming GPU</td>
          <td>£0.0125</td>
        </tr>
        <tr>
          <td>ASR Vg FW 6060 </td>
          <td>Value GPU</td>
          <td>£0.009</td>
        </tr>
      </table>
      <h3>Best Workstation GPU</h3>
      <p>HyperGPU Y WS9050, priced £500</p>
      <img src="https://assets.c48.uk/images/HTML2/HyperGPU.webp">
      <p>This GPU is an amazing GPU to get as a workstation card, complete with 20GB of
        ram and a score of 50,000 in
        furmark (1080p preset).</p>
      <h3>Best Gaming GPU</h3>
      <p>DXQ SS 8080, priced £320</p>
      <img src="https://assets.c48.uk/images/HTML2/DXQ.webp">
      <p>The DXQ SS 8080 is an amazing gaming GPU. Featuring 18GB of VRAM, and 25000 on
        Furmark, for the price of £320.
        This may not score as much on furmark as the HyperGPU, but gets 1.4x the FPS in games, for a lot cheaper.</p>
      <h3>Best Value GPU</h3>
      <p>ASR Vg FW 6060, priced £160</p>
      <img src="https://assets.c48.uk/images/HTML2/6060.webp">
      <p>This GPU offers an impressive 17750 points in furmark, beting anything else in its
        price point. It also has
        10GB of VRAM, so it will continue to be a value option for years to come.</p>
      <a href="/HTML2/wilbur/anewhtmlcssjs/">Back to home</a>
    </div>

    <div id="Tab5" class="tabcontent">
      <h6>‎ ‎ ‎ ‎ </h6>
      <h2>Memory - RAM</h2>
      <table>
        <tr>
          <th>RAM</th>
          <th>Type</th>
          <th>Price/GB</th>
        </tr>
        <tr>
          <td>SheepRAM Gaming 5200MHz</td>
          <td>Gaming RAM</td>
          <td>£2</td>
        </tr>
        <tr>
          <td>Nanon Laptop RAM 4800</td>
          <td>Laptop SODIMM RAM</td>
          <td>£1.90</td>
        </tr>
        <tr>
          <td>ReliAM ECC DDR5 5200</td>
          <td>Server (ECC) RAM</td>
          <td>£2.50</td>
        </tr>
      </table>
      <h3>Best Gaming RAM</h3>
      <p>SheepRAM Gaming 5200MHz, priced £32 (for 16GB)</p>
      <img src="https://assets.c48.uk/images/HTML2/SheepRAM.webp">
      <p>This RAM is excellent value if you are looking for fast RAM for your gaming
        computer. It is DDR5, like all of
        our other recommended RAM, giving it compatibility and upgradeablility for the future.</p>
      <h3>Best Laptop RAM</h3>
      <p>Nanon Laptop RAM 4800, priced £30.40 (for 16GB)</p>
      <img src="https://assets.c48.uk/images/HTML2/Nanon.webp">
      <p>This is Nanon's best value DDR5 laptop RAM. While it doesn't look amazing, it
        features 4800MHz speeds, well above what is needed for consistent performance on your laptop. Furthermore, it is
        available at a 10% discount for Framework Laptop users when you customise your laptop.</p>
      <h3>Best Server/ECC RAM</h3>
      <p>ReliAM ECC DDR5 5200, priced £40 (for 16GB)</p>
      <img src="https://assets.c48.uk/images/HTML2/ReliAM.webp">
      <p>This ECC RAM is a great DDR5 kit from ReliAM. It is designed to be reliable, and in
        our testing over a 1 month period only produced a 0.0032% failure rate.</p>
      <a href="/HTML2/wilbur/anewhtmlcssjs/">Back to home</a>
    </div>

</body>

</html>