---
import "../../../styles/HTML2/angles.css";
---

<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>anew | Wilbur | HTML2</title>
</head>

<body>
  <h1>Wilbur's Tech Information</h1>
  <h2>Contents</h2>
  <ol>
    <li>Storage</li>
    <li>CPUs</li>
    <li>GPUs</li>
    <li>RAM</li>
  </ol>
  <p>(Note about the images: all images are edited and taken from creative commons or the manufacturer's website with
    reuse allowed. they are also all edited for fake product names)</p>
  <a href="/HTML2/wilbur/alink/">Buying Options?</a>
  <h2>Storage</h2>
  <h3>SSDs vs HDDs</h3>
  <p>You may have heard that SSDs are much better than HDDs for performance, and this is true. SSDs have much better
    read/write speeds on average, and are much faster to retrieve small bits of information.</p>
  <p>For Example, consumer hard drives tend to cap out around 250MB/s, however some SSDs can reach 7000MB/s or more!</p>
  <h3>IOPS</h3>
  <p>IOPS stands for Input-Output operations per second. The general rule here is higher number is better, as it will
    make your computer feel more snappy.</p>

  <h2>CPUs</h2>
  <h3>Architecture</h3>
  <p>The Main two architectures you will hear about today are x86 and ARM. You will want a x86 CPU for desktop and
    laptop computing, however some ARM chips are fine in Chromebooks. You will only mainly find ARM chips in tablets and
    phones, and for this reason our CPU tab on our <a href="/HTML2/wilbur/alink/">Buying Options?</a> page does not
    include them.
  </p>

  <h3>Tiers and Generations</h3>
  <p>{"The general rule is the higher tier, the better. (Í6<Í8, etc.) The Newer a CPU is, the better it is within its tier / "} 
      class. How a generation is indicated varies from manufacturer to manufacturer, but all the CPUs on our <a
      href="/HTML2/wilbur/alink/">Buying Options?</a> page are relatively new, and you can always look up the model
      number of a CPU
      to find its generation.</p>

  <h2>GPUs</h2>
  <h3>Model Names and Numbers</h3>
  <p>The easiest way of telling a GPU's performance is to look at the model name. For example, the ASR Vg FW 6050.
    The 'ASR' is the name, 'Vg FW' is the series, and '6050' is the number. The '60' means generation 6, and the
    '50' means the fifth tier in the '60' generation.

    <h3>VRAM</h3>
    <p>VRAM stands for Video RAM. It is where your GPU stores textures and other things. It is seperate from your
      computer's RAM, but your GPU may be able to pull from your system RAM when your VRAM is full. The more VRAM
      you have, the higher resolution and quality you can run at.</p>

    <h2>RAM (Random Access Memory)</h2>

    <h3>DDR</h3>
    <p>DDR in RAM stands for 'Double Data Rate'. It means that something is done at the start and end of every clock
      cycle. This means that when people say '3200MHz' they usually mean '3200MT/s', or 1600MHz (the bigger the MHz,
      the faster the RAM is).</p>

    <h3>DDR Generations</h3>
    <p>There are multiple DDR generations, DDR1, DDR2 etc, up to DDR5 (currently). Each generation comes with a
      speed bump, and some other changes.</p>

    <p></p>
    <a href="../">Wilbur's Index (completely unrelated to the assessment please ignore)</a>

</body>