---
import "../../../styles/HTML2/csscss.css";
---

<!DOCTYPE html>
<html>

<head>
  <title>Wilbur | HTML2</title>
</head>

<body>
  <h1>Wilbur's Index</h1>
  <p>Hello. I is Wilbur. Look at the weird stuff I made for no reason!:</p>
  <a href="/HTML2/wilbur/wilbur1/">The Wilbur Mail (wilbur1)</a>
  <p></p>
  <a href="/HTML2/wilbur/wilburtech/">Wilbur's Tech Info (wilburtech)</a>
  <p></p>
  <a href="/HTML2/wilbur/wordsearches/">Wordsearches (wordsearches)</a>
  <p></p>
  <a href="/HTML2/wilbur/wilburblurt/">Lesson 3 CSS (blurt) </a>
  <p></p>
  <a href="/HTML2/wilbur/thereis4lesson/">Lesson 4 JS (thereis4) </a>
  <p></p>
  <a href="/HTML2/wilbur/terrariatabi/">Lesson 4 JS 2 (tabi) </a>
  <p></p>
  <a href="/HTML2/wilbur/anewhtmlcssjs/">Assesiment1 (anew) </a>
  <p></p>
  <a href="/HTML2/wilbur/alink/">Assesiment2 (alink) </a>
  <p></p>
  <a href="/HTML2/wilbur/manipulator/">Page Manipulator Script (manipulator)</a>
  <p></p>
  <a href="/HTML2/wilbur/mostlyjs/pages/">Dice Game (mostlyJS/pages) </a>
  <p></p>
  <a href="/HTML2/wilbur/mostlyjs/game/">Mandatory Fun (mostlyJS/game)</a>
  <p></p>
  <a href="/HTML2/wilbur/mostlyjs/morework/">Challenge (mostlyJS/morework)</a>
  <p></p>
  <a href="../">Back</a>
</body>

</html>