---
import "../../../styles/HTML2/blurtstyle.css";
---

<!DOCTYPE html>
<head>
  <title>blurtyblurt | Wilbur | HTML2</title>
</head>
<body>
<h1>CreAte a rEpuL</h1>
  <p>
</p>
<a href="../">Back</a>
</body>