<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Wilbur Mail</title>
</head>

<body>
  <h1>The Wilbur Mail</h1>
  <p>Cats have invaded and have started eating the residents of the Vatican. This comes after months of breeding and
    training to get the cat army up to size.</p>
  <img src="https://assets.c48.uk/images/HTML2/cateat.webp"></img>
  <p><i>above is an image of what is happening, cats are first removing human's arms so they cannot retaliate easily</i>
  </p>
  <p>When we asked the cats about their reasoning for the invasion, they responded: "Meow mew hiss meow purr mew mew,
    purr meow", which translates to "We are annoyed at humans because they didn't give us lots of free food when we
    asked, so we have to eat them"</p>
  <p>Jasperland, which have control over the Vatican, have called this event "controllable, and will not spread to any
    of our other controlled countries". Jasperland are currently controlling Slovenia, and San Marino, along with the
    Vatican. This comes after an invasion last week:</p>
  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">About the Invasion</a>
  <h2>Wordsearch</h2>
  <img src="https://assets.c48.uk/images/HTML2/wordsearch1.webp">
  <br>
  <a href="/HTML2/wilbur/wordsearches/">All Wordsearches</a>
  <a href="..">Home</a>
  <a href="../">Wilbur</a>
</body>

</html>