<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wilbur's Tech Information</title>
</head>
<body>
  <h1>Wilbur's Tech Information</h1>
  <h2>Storage</h2>
  <h3>SSDs vs HDDs</h3>
  <p>You may have heard that SSDs are much better than HDDs for performance, and this is true. SSDs have much better
    read/write speeds on average, and are much faster to retrieve small bits of information.</p>
  <h3>What to Buy?</h3>
  <p>Jasper's soul, now only £999999999999999.99</p>
  <p>(Nine hundred ninety-nine trillion nine hundred ninety-nine billion nine hundred ninety-nine million nine hundred
    ninety-nine thousand nine hundred ninety-nine pounds and ninety-nine pennies)
  </p>

  <a href="../">Wilbur Home</a>
</body>
</html>