<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wordsearches | Wilbur | HTML2</title>
<body>
  <h1>Wordsearches</h1>
  <h2>Wordsearch 1</h2>
  <img src="https://assets.c48.uk/images/HTML2/wordsearch1.webp">
  <p> </p>
  <a href="../">Home</a>
</body>
</html>