---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
---

<Layout title="About Wilbur's Site">
    <Nav></Nav>
    <div class="main">
        <h1>About this site</h1>
        <p>This website is hosted on <a href="https://pages.cloudflare.com/">Cloudflare Pages</a>, and is managed on <a href="https://github.com">GitHub</a>.</p>
        <p>It was coded by me, but some bits, mostly HTML2 bits, were coded by Jasper Cayley (An autistic + ADHD), Peter Rimmer, and Kieran Lynch.</p>
        <h3>Tracking, ads and cookies</h3>
        <p>There are no trackers, cookies or ads placed on this site, with the exception of preferences cookies for newtab.</p>
        <p>Music is <a href="https://discord.com/invite/cellua-machine-server-866250603508662313">Scattered Cells by KyYay</a></p>
    </div>
</Layout>