---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Wilbur's Site" description="About this site">
    <h1>About this site</h1>
    <p>This website is hosted on <code>melina.srv.c48.uk</code>, managed on 
        <a href="https://github.com/ThisCatLikesCrypto/Website">GitHub</a>, and built with <a href="https://astro.build">Astro</a>.</p>
    <p>Many assets are served through <code>assets.c48.uk</code> which has melina as its backend and uses cloudfront.</p>
    <p>It was coded by me, but some bits, mostly HTML2 bits, were coded by some of my friends.</p>
    <h3>Tracking, ads and cookies</h3>
    <p>There are no trackers, cookies or ads placed on this site, with the exception of my shitty analytics thing i made myself 
        (shares no more information than i already have from the web server logs).</p>
    <p>Music is <a href="https://discord.com/invite/cellua-machine-server-866250603508662313">Scattered Cells by KyYay</a></p>
</Layout>