---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Wilbur's Accounts">
    <Nav></Nav>
    <div class="main">
        <h1>Wilbur's Accounts</h1>
        <h3>Socials (in order of response time)</h3>
        <p>
            <a href="https://discord.com/users/719947906492268645">Discord (thiscatlikescrypto)</a><br>
            <a rel="me" href="https://wetdry.world/@wilbur">Mastodon (@wilbur@wetdry.world)</a><br>
            <a href="https://reddit.com/u/ThisCatLikesCrypto">Reddit (u/ThisCatLikesCrypto)</a><br>
            <a href="mailto:contact@wilburwilliams.uk">Email (contact@wilburwilliams.uk, but I cannot respond with that address)</a><br>
            <a href="https://youtube.com/thiscatlikescrypto">YouTube (ThisCatLikesCrypto, abandoned and just... don't.)</a>
        </p>
        <br>
        <h3>Programming</h3>
        <p>
            <a href="https://github.com/ThisCatLikesCrypto">GitHub (ThisCatLikesCrypto)</a><br>
            (I actually think that's it, huh)
        </p>
        <br>
        <h3>Gaming</h3>
        <p>
            <a href="https://steamcommunity.com/id/wilbycat48">Steam</a><br>
            <a href="https://www.roblox.com/users/1264027749/profile">Roblox</a><br>
            <a href="https://www.xbox.com/en-GB/play/user/Wilbycat48">Xbox Live</a> (requires sign-in to view for some reason)<br>
            (I couldn't find a link for epic games, username Wilbycat48)
        </p>
        <br>
        <h3>Community Discord Servers</h3>
        <p>
            <a href="https://discord.gg/XTvhaHYRBa">AQA's Basement</a> [Community Staff]<br>
            <a href="https://discord.gg/debian">Debian</a><br>
            <a href="https://discord.gg/linux">All Things Linux</a><br>
            <a href="https://discord.gg/unblock">TitaniumNetwork</a><br>
        </p>
        <Footer></Footer>
    </div>
</Layout>