---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Archive | Wilbur's Site" description="Archive of old content">
    <h1>Archive</h1>
    <h2>Old content</h2>
    <h3>Click the links below to view the archived pages</h3>
    <ul>
        <li><a href="/archive/directory">Directory of referral links</a></li>
        <li><a href="/archive/tclc-webador">ThisCatLikesCrypto.webador.com</a></li>
    </ul>
</Layout>