---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Data | Wilbur's Site">
    <Nav></Nav>
    <div class="main">
        <iframe src="https://wilbur.is-a.dev/wGrid" width="80%" height="700px"></iframe>
        <iframe src="https://giv.cf.wilburwilliams.uk/giv"></iframe>
        <br>
        <Footer></Footer>
    </div>
</body>
</html>