---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Wilbur's Domains" description="Domains owned by Wilbur Williams and stuff hosted on them">
    <h1>Domains</h1>
    <h3>wilburwilliams.uk</h3>
    <p>
        <a href="https://wilburwilliams.uk">wilburwilliams.uk</a> (this site)<br>
        <a href="https://v1.old.wilburwilliams.uk">v1.old.wilburwilliams.uk</a> (v1, sh!t ver of this site)
    </p>
    <br>
    <h3>wilburwilliams.com</h3>
    <p>
        <a href="https://wilburwilliams.com">wilburwilliams.com</a> (simply redirects to a blog post about it)<br>
        <a href="https://api.wilburwilliams.com">api.wilburwilliams.com</a> (points to home NAS, through a magic CF
        workers script that I don't understand)<br>
        <a href="javascript:void(0)">home.wilburwilliams.com</a> (weard intermediate for api.wilburwilliams.com, don't
        question it (also no website comes up if you visit it))
    </p>
    <br>
    <h3>c48.uk</h3>
    <p>
        <a href="https://c48.uk">c48.uk</a> (redirects to wilburwilliams.uk, I'll use it for some other stuff in the
        future, bought it as a short URL)<br>
        <a href="http://sathonyia.srv.c48.uk">sathonyia.srv.c48.uk</a> (my UK VPS server) hosts:
        <ul>
            <li><a href="https://repo.c48.uk">repo.c48.uk</a> (hosts some mirrors under the EyeScary name)</li>
        </ul>
        <a href="https://melina.srv.c48.uk">melina.srv.c48.uk</a> (my German VPS server) hosts:
        <ul>
            <li><a href="https://de.repo.c48.uk">de.repo.c48.uk</a> (hosts mirrors, in Germany this time)</li>
            <li><a href="https://panel.vivwebz.net">panel.vivwebz.net</a> (a file management for vivwebz [my friend's site])</li>
        </ul>
        <a href="https://oswald.srv.c48.uk">oswald.srv.c48.uk</a> (A secondary UK VPS server) hosts:
        <ul>
            <li><a href="https://uk.repo.c48.uk">uk.repo.c48.uk</a> (hosts an arch mirror along with rsync for T1 purposes)</li>
        </ul>
        <p>proxied through CDNs:</p>
        <ul>
            <li><a href="https://assets.c48.uk">assets.c48.uk</a> (shared assets for my stuff, through AWS CloudFront's free plan)</li>
            <li><a href="https://assets.vivwebz.net">assets.vivwebz.net</a> (assets for vivwebz, through Vivian's Cloudflare account)</li>
            <li>and this site, which is through Gcore</li>
        </ul>
        <p>other websites:</p>
        <ul>
            <li><a href="https://status.c48.uk">status.c48.uk</a> (status page for mirrors)</li>
            <li><a href="https://pop.c48.uk">pop.c48.uk</a> (CDN point of presence locator)</li>
            <li><a href="https://ipv6.c48.uk">ipv6.c48.uk</a> (IPv6 test)</li>
        </ul>
    </p>
    <br>
    <h3>grid.me.uk</h3>
    <p>
        <a href="https://grid.me.uk">grid.me.uk</a> (a UK grid dashboard)<br>
        <a href="https://api.grid.me.uk">api.grid.me.uk</a> (sathonyia backend proxied through cf for wGrid's API)<br>
        <sub>no idea how this wasn't taken, fairly sure people just don't know about .me.uk</sub>
    </p>
    <br>
    <h3>aqasbasement.uk</h3>
    <p>
        <a href="https://aqasbasement.uk">aqasbasement.uk</a> (a website for the aqa's basement discord server +
        revision resources)<br>
        <a href="javascript:void(0)">mc.aqasbasement.uk</a> (a minecraft server for aqa's basement, no website)
    </p>
    <br>
    <h3>eyescary.uk</h3>
    <p>
        <a href="https://eyescary.uk">eyescary.uk</a> (the website for eyescary development)
    </p>
    <br>
    <h3>jasperweb.uk</h3>
    <p>
        <a href="https://jasperweb.uk">jasperweb.uk</a> (Jasper's website, i just bought the domain)
    </p>
    <br>
    <h3>transstarterpack.net</h3>
    <p>
        <a href="https://transstarterpack.net">transstarterpack.net</a> (domain I bought for 
        <a href="https://reddit.com/u/luaisawfulwithnames">u/luaisawfulwithnames</a> cuz idk)
    </p>
    <br>
    <h3>peppahack.dev</h3>
    <p>
        <a href="https://peppahack.dev">peppahack.dev</a> (uhhhh all you need to know is that it's <a
            href="https://github.com/CattoYT/Peppahack.dev">not my project</a>)<br>
        (i also probably won't renew the domain when it comes up)
    </p>
</Layout>