---
import Layout from "../layouts/Layout.astro";
import "../styles/index.css";
---

<Layout title="Wilbur's Site">
    <br>
    <h1 class="centretext mainheader">Wilbur's Website</h1>
    <span class="splash" id="splash"></span>
    <br><br>
    <br>
    <p class="mobileonly">
        Small screen support still in beta, please report any issues to me
    </p>
    <p class="centretext">
        <a class="abutp" id="musiccontrol">*Click here to play music!*</a>
    </p>
    <div class="section maindivdiv">
        <div>
            <h2>Webrings</h2>
            <b><a class="abutp" href="https://webring.dinhe.net/">Retronaut webring</a></b>
            <p>
                <a href="https://webring.dinhe.net/prev/https://wilburwilliams.uk">Previous</a> | <a href="https://webring.dinhe.net/next/https://wilburwilliams.uk">Next</a>
            </p>
        </div>
        <div>
            <h2>About</h2>
            <p>
                Hello, I'm Wilbur. I'm a person™ that enjoys most things
                computer-related, plus trains and electrical engineering. I
                currently know Python, HTML, CSS, and JS, and eventually I want
                to learn a compiled programming language (I have tried C, C++
                and Rust so far).
            </p>
            <p>
                Feel free to have a look around this site to explore from the
                <a href="HTML2/wilbur/manipulator.html">downright stupid</a>
                to the
                <a href="data/">actually kinda cool</a>.
            </p>
            <p>
                My hyperfixations (interests) include computer hardware (and
                electronics in general), software engineering (duh),
                cryptotechnology, and
                <a href="https://dl.wilburwilliams.uk/Other/Underground%20Sync.mov">trains/trams</a>.
            </p>
            <p>
                I enjoy programming, researching random stuff (I spend too much
                time on Wikipedia), watching YT and playing games (I have over
                2300 days in one Minecraft world).
            </p>
        </div>
        <div>
            <h2>Basic Info</h2>
            <p>he/they</p>
            <p>Autistic</p>
            <p>aroace</p>
            <p>
                <a rel="me" href="https://wetdry.world/@wilbur">Mastodon</a> (wetdry.world)
            </p>
            <p><a href="publickey.html">Public key here</a></p>
            <p>
                <a class="abutp" href="https://time.is/United_Kingdom">My Time:</a>
                <span id="mytime"></span>
            </p>
            <p><a href="https://github.com/ThisCatLikesCrypto">My GitHub</a></p>
        </div>
        <div>
            <h2>Other</h2>
            <p>(pages that aren't on the sidebar)</p>
            <a href="ppp/index.html">Proportional Past the Post</a><br><br>
            <a href="3dsite/index.html">3D site</a>
        </div>
    </div>
    <br>
    <div class="buttons section">
        <h2 class="centretext">Buttons</h2>
        <div class="centretext">
            <abbr title="Button, click to copy">
                <a onclick="copyBtnEmbed()">
                    <img
                        alt="website button"
                        loading="eager"
                        src="assets/button.gif"
                    >
                </a>
            </abbr>
            <a href="https://vivwebz.net" target="_blank">
                <img
                    loading="eager"
                    src="images/buttons/viv.png"
                    alt="vivwebz"
                >
            </a>
            <a href="https://pittab.neocities.org" target="_blank">
                <img
                    loading="eager"
                    src="images/buttons/pittab.png"
                    alt="pitt ab (not a real company)"
                >
            </a>
            <a href="https://jasperweb.uk/" target="_blank">
                <img
                    loading="eager"
                    src="images/buttons/jasper.webp"
                    alt="chaos"
                >
            </a>
            <a href="https://eightyeightthirty.one">
                <img
                    loading="eager"
                    src="images/buttons/eightyeightthirtyone.png"
                    alt="88x31"
                >
            </a>
            <a href="https://petrapixel.neocities.org/" target="_blank">
                <img
                    loading="eager"
                    src="https://cdn.jsdelivr.net/gh/petracoding/petrapixel.neocities.org@master/public/img/linkback.webp"
                    alt="petrapixel"
                >
            </a>
            <a href="https://velzie.rip" target="_blank">
                <img
                    loading="eager"
                    src="images/buttons/velzie.png"
                    alt="coolelectronics (new site)"
                >
            </a>
            <a href="https://kalechips.net/responsive">
                <img
                    loading="eager"
                    src="images/buttons/responsive.png"
                    alt="responsive web design"
                >
            </a>
            <a href="https://split.pet">
                <img
                    loading="eager"
                    src="https://split.pet/88x31/split.png"
                    alt="split.pet"
                >
            </a>
            <a href="https://fluoritebyte.neocities.org">
                <img 
                    loading="eager"
                    src="https://fluoritebyte.neocities.org/88x31.png"
                    alt="fluoritebyte"
                    title="fluoritebyte"
                >
            </a>
            <a href="https://bomberfish.ca/?higherdimension">
                <img
                    loading="eager"
                    src="images/buttons/bomberfish.gif"
                    alt="BomberFish"
                    title="BomberFish"
                >
            </a>
        </div>
        <br>
    </div>
    <br>
    <div class="section">
        <h2 class="centretext">Status</h2>
        <h3 class="centretext">
            <code>
                <span class="line">Website: <span id="sitestatus"></span></span>
                <span class="line">&nbsp;&nbsp;Dev Site: <span id="devstatus"></span></span>
                <span class="line">&nbsp;&nbsp;Downloads Site: <span id="dlstatus"></span></span>
                <span class="line">&nbsp;&nbsp;Projects Site: <span id="projstatus"></span></span>
                <span class="line">&nbsp;&nbsp;Mirror: <span id="mirrorstatus"></span></span>
            </code>
        </h3>
    </div>
    <br>
</Layout>
<script>
    var eaudion = false;
    var splashtext = [
        "Why does this exist again",
        "prefers-reduced-motion: no movement",
        "hmmm, what to put here?",
        "defying gravity",
        "HTML2 is just an archive",
        "Wine Is Not an Emulator",
        "built with VSCode",
        "<a href='https://www.youtube.com/watch?v=M93mt3NzkmM'>This song has no right being this good</a>",
        "<a href='https://www.youtube.com/watch?v=24sx3aFynQI'>1996 stock motors</a>",
        "<img style='height: 32px; width: 32px;' src='/images/spinny_cat_ace.gif' alt='spinny_cat_ace'>",
        "<a href='https://www.youtube.com/watch?v=83CqPViJB0I'>UNIFY</a>",
    ];

    function choose(choices) {
        var index = Math.floor(Math.random() * choices.length);
        return choices[index];
    }

    function getUKTime() {
        const now = new Date();
        const ukTimeFormatter = new Intl.DateTimeFormat("en-GB", {
            timeZone: "Europe/London",
            hour: "2-digit",
            minute: "2-digit",
            second: "2-digit",
        });
        const ukTime = ukTimeFormatter.format(now);
        return ukTime;
    }

    function playmusic() {
        if (!eaudion) {
            audio.play();
            const muct = document.getElementById("musiccontrol");
            muct.innerHTML = "Click to pause music";
            muct.onclick = pausemusic;
            audio.addEventListener("ended", function () {
                audio.currentTime = 0;
                audio.play();
            });
        }
    }

    function pausemusic() {
        audio.pause();
        eaudion = false;
        const muct = document.getElementById("musiccontrol");
        muct.innerHTML = "Click to resume music";
        muct.onclick = playmusic;
    }

    document.addEventListener("DOMContentLoaded", async function () {
        document.getElementById("mytime").innerHTML = getUKTime();
        document.getElementById("splash").innerHTML = choose(splashtext);
        document.getElementById("musiccontrol").onclick = playmusic;
    });

    setInterval(function () {
        document.getElementById("mytime").innerHTML = getUKTime();
    }, 1000);

    // this should be status.cf.wilburwilliams.uk but then it always returns 'down' for dl.wilburwilliams.uk
    const url = "https://ww-status.thiscatlikescrypto.workers.dev/all";

    async function fetchStatus() {
        try {
            const response = await fetch(url);
            const data = await response.json();
            console.log(data);
            const siteElement = document.getElementById("sitestatus");
            const devElement = document.getElementById("devstatus");
            const dlElement = document.getElementById("dlstatus");
            const projElement = document.getElementById("projstatus");
            const mirrorElement = document.getElementById("mirrorstatus");
            siteElement.innerHTML = data["site"];
            devElement.innerHTML = data["dev"];
            dlElement.innerHTML = data["dl"];
            projElement.innerHTML = data["proj"];
            mirrorElement.innerHTML = data["repo"];
            if (data["site"] === "200 OK") {
                siteElement.style.color = "limegreen";
            } else {
                siteElement.style.color = "red";
            }
            if (data["dev"] === "200 OK") {
                devElement.style.color = "limegreen";
            } else {
                devElement.style.color = "red";
            }
            if (data["dl"] === "200 OK") {
                dlElement.style.color = "limegreen";
            } else {
                dlElement.style.color = "red";
            }
            if (data["proj"] === "200 OK") {
                projElement.style.color = "limegreen";
            } else {
                projElement.style.color = "red";
            }
            if (data["repo"] === "200 OK") {
                mirrorElement.style.color = "limegreen";
            } else {
                mirrorElement.style.color = "red";
            }
        } catch (error) {
            console.error(
                "There was a problem with the fetch operation:",
                error,
            );
        }
    }
    fetchStatus();
</script>
