---
import Layout from "../layouts/Layout.astro";
import "../styles/index.css";
---

<Layout title="Wilbur's Site">
    <br>
    <h1 class="centretext mainheader">Wilbur's Website</h1>
    <span class="splash" id="splash"></span>
    <br><br>
    <br>
    <p class="mobileonly">
        Small screen support still in beta, please report any issues to me
    </p>
    <p class="centretext">
        <a class="abutp" id="musiccontrol">*Click here to play music!*</a>
        <br>
        <button id="prevTrack">Previous</button>
        <button id="nextTrack">Next</button>
        <br>
        <sub><a href="https://music.eyescary.uk">ESMusic</a></sub>
    </p>
    <audio id="audioPlayer" preload="auto"></audio>
    <div class="section maindivdiv">
        <div>
            <h2>Webrings</h2>
            <b><a class="abutp" href="https://webring.dinhe.net/">Retronaut webring</a></b>
            <p>
                <a href="https://webring.dinhe.net/prev/https://wilburwilliams.uk">Previous</a> |
                <a href="https://webring.dinhe.net/next/https://wilburwilliams.uk">Next</a>
            </p>
        </div>
        <div>
            <h2>About</h2>
            <p>
                Hello, I'm Wilbur. I'm a person™ that enjoys most things
                computer-related, plus trains and electrical engineering. I
                currently know Python, HTML, CSS, and JS, and eventually I want
                to learn a compiled programming language (I have tried C, C++
                and Rust so far).
            </p>
            <p>
                Feel free to have a look around this site to explore from the
                <a href="HTML2/wilbur/manipulator.html">downright stupid</a> to the
                <a href="newtab/">actually kinda cool</a>.
            </p>
            <p>
                My hyperfixations (interests) include computer hardware (and
                electronics in general), software engineering (duh),
                cryptotechnology, and
                <a
                    href="https://dl.wilburwilliams.uk/Other/Underground%20Sync.mov"
                    >trains/trams</a
                >.
            </p>
            <p>
                I enjoy programming, researching random stuff (I spend too much
                time on Wikipedia), watching YT and playing games (I have over
                3000 days in one Minecraft world).
            </p>
        </div>
        <div>
            <h2>Basic Info</h2>
            <p>he/they</p>
            <p>Autistic</p>
            <p>aroace</p>
            <p>
                <a rel="me" href="https://wetdry.world/@wilbur">Mastodon</a> (wetdry.world)
            </p>
            <p><a href="publickey.html">Public key here</a></p>
            <p>
                <a class="abutp" href="https://time.is/United_Kingdom"
                    >My Time:</a
                >
                <span id="mytime"></span>
            </p>
            <p><a href="https://github.com/ThisCatLikesCrypto">My GitHub</a></p>
        </div>
        <div>
            <h2>Other</h2>
            <p>(pages that aren't on the sidebar or anywhere else)</p>
            <a href="3dsite/">3D site</a><br>
            <a href="test.html">test thing from ages ago</a>
        </div>
    </div>
    <br>
    <div class="buttons section">
        <h2 class="centretext">Buttons</h2>
        <div class="centretext">
            <abbr title="Button, click to copy">
                <a onclick="copyBtnEmbed()">
                    <img
                        alt="website button"
                        loading="eager"
                        src="assets/button.gif"
                    >
                </a>
            </abbr>
            <a href="https://vivwebz.net/home" target="_blank">
                <img
                    loading="eager"
                    src="images/buttons/viv.png"
                    alt="vivwebz"
                >
            </a>
            <a href="https://pittab.neocities.org" target="_blank">
                <img
                    loading="eager"
                    src="images/buttons/pittab.png"
                    alt="pitt ab (not a real company)"
                >
            </a>
            <a href="https://jasperweb.uk/" target="_blank">
                <img
                    loading="eager"
                    src="images/buttons/jasper.webp"
                    alt="chaos"
                >
            </a>
            <a href="https://eightyeightthirty.one">
                <img
                    loading="eager"
                    src="images/buttons/eightyeightthirtyone.png"
                    alt="88x31"
                >
            </a>
            <a href="https://petrapixel.neocities.org/" target="_blank">
                <img
                    loading="eager"
                    src="https://cdn.jsdelivr.net/gh/petracoding/petrapixel.neocities.org@master/public/img/linkback.webp"
                    alt="petrapixel"
                >
            </a>
            <a href="https://velzie.rip" target="_blank">
                <img
                    loading="eager"
                    src="images/buttons/velzie.png"
                    alt="coolelectronics (new site)"
                >
            </a>
            <a href="https://kalechips.net/responsive">
                <img
                    loading="eager"
                    src="images/buttons/responsive.png"
                    alt="responsive web design"
                >
            </a>
            <a href="https://split.pet">
                <img
                    loading="eager"
                    src="https://split.pet/88x31/split.png"
                    alt="split.pet"
                >
            </a>
            <a href="https://fluoritebyte.neocities.org">
                <img
                    loading="eager"
                    src="https://fluoritebyte.neocities.org/88x31.png"
                    alt="fluoritebyte"
                    title="fluoritebyte"
                >
            </a>
            <a href="https://bomberfish.ca/?higherdimension">
                <img
                    loading="eager"
                    src="images/buttons/bomberfish.gif"
                    alt="BomberFish"
                    title="BomberFish"
                >
            </a>
        </div>
        <br>
    </div>
    <br>
    <div class="section">
        <h2 class="centretext">Status</h2>
        <h3 class="centretext">
            <code id="stausblock">
            </code>
        </h3>
    </div>
    <br>
</Layout>

<script>
    // --- Music Player Code ---
    const songList = [
        "/assets/scatteredcells.opus",
        "https://eyescary-development.github.io/CDN/musik/ESDP2/BHP_IS_A_ONE_CENT_STOCK_FRAUD.mp3",
        "https://eyescary-development.github.io/CDN/musik/DRUMNBASS/DRUMNBASS1.mp3",
    ];

    // (Fisher-Yates algorithm)
    function shuffleArray(array) {
        let currentIndex = array.length,
            temporaryValue,
            randomIndex;
        while (currentIndex !== 0) {
            randomIndex = Math.floor(Math.random() * currentIndex);
            currentIndex--;
            temporaryValue = array[currentIndex];
            array[currentIndex] = array[randomIndex];
            array[randomIndex] = temporaryValue;
        }
        return array;
    }

    let shuffledSongs = shuffleArray([...songList]);
    let currentTrack = 0;
    const audio = document.getElementById("audioPlayer");

    function loadTrack(index) {
        if (index < 0 || index >= shuffledSongs.length) return;
        audio.src = shuffledSongs[index];
    }

    loadTrack(currentTrack);
    let isPlaying = false;

    function togglePlay() {
        if (isPlaying) {
            audio.pause();
            isPlaying = false;
            document.getElementById("musiccontrol").innerHTML =
                "Click to resume music";
        } else {
            audio.play();
            isPlaying = true;
            document.getElementById("musiccontrol").innerHTML =
                "Click to pause music";
        }
    }

    function nextTrack() {
        currentTrack = (currentTrack + 1) % shuffledSongs.length;
        loadTrack(currentTrack);
        if (isPlaying) {
            audio.play();
        }
    }

    function prevTrack() {
        currentTrack =
            (currentTrack - 1 + shuffledSongs.length) % shuffledSongs.length;
        loadTrack(currentTrack);
        if (isPlaying) {
            audio.play();
        }
    }
    
    audio.addEventListener("ended", function () {
        nextTrack();
    });

    var splashtext = [
        "Why does this exist again",
        "prefers-reduced-motion: no movement",
        "hmmm, what to put here?",
        "defying gravity",
        "HTML2 is just an archive",
        "Wine Is Not an Emulator",
        "built with VSCode",
        "<a href='https://www.youtube.com/watch?v=M93mt3NzkmM'>This song has no right being this good</a>",
        "<a href='https://www.youtube.com/watch?v=24sx3aFynQI'>1996 stock motors</a>",
        "<img style='height: 32px; width: 32px;' src='https://assets.c48.uk/spinny_cat/spinny_cat_ace.gif' alt='spinny_cat_ace'>",
        "<a href='https://www.youtube.com/watch?v=83CqPViJB0I'>UNIFY</a>",
        "Killer Queen"
    ];

    function choose(choices) {
        return choices[Math.floor(Math.random() * choices.length)];
    }

    function getUKTime() {
        const now = new Date();
        const ukTimeFormatter = new Intl.DateTimeFormat("en-GB", {
            timeZone: "Europe/London",
            hour: "2-digit",
            minute: "2-digit",
            second: "2-digit",
        });
        return ukTimeFormatter.format(now);
    }

    // --- Event Listeners ---
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("musiccontrol").onclick = togglePlay;
        document.getElementById("prevTrack").onclick = prevTrack;
        document.getElementById("nextTrack").onclick = nextTrack;
        document.getElementById("splash").innerHTML = choose(splashtext);
        document.getElementById("mytime").innerHTML = getUKTime();
    });

    setInterval(function () {
        document.getElementById("mytime").innerHTML = getUKTime();
    }, 1000);

    async function displayStatus(response) {
        const statusElement = document.getElementById("stausblock");
        const URLtoname = {
            "https://wilburwilliams.uk": "site",
            "https://dl.wilburwilliams.uk": "dl",
            "https://repo.c48.uk": "mirror",
            "https://de.repo.c48.uk": "german mirror",
            "https://assets.c48.uk": "assets",
            "https://eyescary.uk": "eyescary",
            "https://iso.atl.dev": "ISO archives"
        }
        const data = await response.json();
        for (const [key, value] of Object.entries(data)) {
            statusElement.innerHTML += `<span class="line">${URLtoname[key]}: <span id="${URLtoname[key]}">${value}</span></span> `;
            if (value >= 200 && value < 300) {
                document.getElementById(URLtoname[key]).style.color = "limegreen";
            } else if (value >= 300 && value < 400) {
                document.getElementById(URLtoname[key]).style.color = "orange";
            } else {
                document.getElementById(URLtoname[key]).style.color = "red";
            }
        }
    }

    async function fetchStatus() {
        const url = "https://oxfbw5zjg2kikumhitruzci2gi0bmugx.lambda-url.eu-west-2.on.aws/";
        try {
            const response = await fetch(url);
            displayStatus(response);
        } catch (error) {
            console.warn("status lambda failed, it does this a lot so will be retried after a 3 second delay");
            await sleep(3000);
            try {
                const response = await fetch(url);
                displayStatus(response);
            } catch (error) {
                console.warn("status lambda failed, it does this a lot so will be retried after a 3 second delay (2)");
                await sleep(3000);
                try {
                    const response = await fetch(url);
                    displayStatus(response);
                } catch (error) {
                    console.error(
                        "There was a problem with the fetch operation:",
                        error,
                    );
                }
        }
        }
    }
    fetchStatus();
</script>
