---
import Layout from "../layouts/Layout.astro";
import "../styles/index.css";
---

<Layout title="Wilbur's Site" description="About me, my interests, and random other stuff">
    <br>
    <h1 class="centretext mainheader">Wilbur's Website</h1>
    <span class="splash" id="splash"></span>
    <br><br>
    <p>&nbsp;</p>
    <p class="mobileonly">
        Small screen support still in beta, please report any issues to me
    </p>
    <div class="section maindivdiv">
        <div>
            <h2>Webrings</h2>
            <b><a class="abutp" href="https://webring.dinhe.net/">Retronaut webring</a></b>
            <p>
                <a href="https://webring.dinhe.net/prev/https://wilburwilliams.uk">Previous</a> |
                <a href="https://webring.dinhe.net/next/https://wilburwilliams.uk">Next</a>
            </p>
            <h2>My time</h2>
            <p id="mytime"></p>
        </div>
        <div>
            <h2>About</h2>
            <p>
                Hello, I'm Wilbur<sub id="pronouns">(they/them)</sub>. I'm a person™ that enjoys most things
                computer-related, plus trains and electrical engineering. You'll
                often find me working on <a href="/projects">projects</a> listed here,
                usually on <a href="/domains">domains</a> I've set up.
            </p>
            <p>
                I'm a systems administrator at <a href="https://allthingslinux.org">All Things Linux</a>,
                and I lead the <a href="https://iso.atl.dev">ISO Archive</a> project.
            </p>
            <p>
                Feel free to have a look around this site to explore from the
                <a href="HTML2/wilbur/manipulator.html">downright stupid</a> to the
                <a href="newtab/">actually kinda cool</a>.
            </p>
            <p>
                My hyperfixations (interests) include computing (especially
                <a href="https://allthingslinux.org">Linux</a>,
                <a href="https://iso.atl.dev">archiving</a>,
                <a href="/mirrors/">content delivery / mirroring</a>, networking, and BGP),
                electronics, software engineerings, cryptotechnology,
                and <span title="type 'trains'">trains.</span>
            </p>
            <p>
                I enjoy programming, researching random stuff (I spend too much
                time on Wikipedia), working on various <a href="/projects">projects</a>,
                watching YT, and playing games (I have over 3000 days in one Minecraft world).
            </p>
            <span id="icons">
                <span id="icons-left">
                    <img src="https://assets.c48.uk/spinny_cat/spinny_cat_ace.avif">
                    <img src="https://assets.c48.uk/spinny_cat/spinny_cat_aro.avif">
                    <img src="https://assets.c48.uk/spinny_cat/spinny_cat_agender.avif">
                    <img title="autistic" src="https://assets.c48.uk/images/neurodiversity.webp">
                </span>
                <span id="icons-right">
                    <a href="https://github.com/ThisCatLikesCrypto"><img src="https://assets.c48.uk/images/github.webp"></a>
                    <a href="https://discord.com/users/719947906492268645"><img title="(wilbycat48)" src="https://assets.c48.uk/images/discord.avif"></a>
                    <a rel="me" href="https://wetdry.world/@wilbur"><img src="https://assets.c48.uk/images/mastodon.webp"></a>
                </span>
            </span>
        </div>
        <div>
            <h2>Other</h2>
            <p>(pages that aren't on the sidebar or anywhere else)</p>
            <a href="3dsite/">3D site</a><br>
            <a href="test.html">test thing from ages ago</a><br>
            <a href="publickey.html">public key</a>
            <br>
            <br>
            <p class="centretext">
                <a class="abutp" id="musiccontrol"><span class="fa-play fa-solid"></span></a>
                <br>
                <button id="prevTrack"><span class="fa-angles-left fa-solid"></span></button>
                <button id="nextTrack"><span class="fa-angles-right fa-solid"></span></button>
                <br>
                <sub><a href="https://music.eyescary.uk">ESMusic</a></sub>
                <audio id="audioPlayer" preload="none"></audio>
            </p>
        </div>
    </div>
    <br>
    <div class="section equaldivdiv">
        <div class="buttons">
            <h2 class="centretext">Buttons</h2>
            <div class="centretext">
                <abbr title="Button, click to copy">
                    <a id="buttona2">
                        <img alt="website button" loading="eager" src="https://assets.c48.uk/buttons/wilbur.avif">
                    </a>
                </abbr>
                <a href="https://vivwebz.net/" target="_blank">
                    <img loading="eager" src="https://assets.c48.uk/buttons/vivwebz.gif" alt="vivwebz">
                </a>
                <a href="https://pittab.neocities.org" target="_blank">
                    <img loading="eager" src="https://assets.c48.uk/buttons/pittab.png" alt="pitt AB (not a real company)">
                </a>
                <a href="https://jasperweb.uk/" target="_blank">
                    <img loading="eager" src="https://assets.c48.uk/buttons/jasper.webp" alt="chaos">
                </a>
                <a href="https://electron271.gay">
                    <img loading="eager" src="https://assets.c48.uk/buttons/electron.avif" alt="electron's website">
                </a>
                <a href="https://accuratelinuxgraphs.com">
                    <img loading="eager" src="https://assets.c48.uk/buttons/accuratelinuxgraphs.png" alt="accuratelinuxgraphs">
                </a>
                <a href="https://wesbryie.com">
                    <img loading="eager" src="https://assets.c48.uk/buttons/wes.avif" alt="wesley bryie">
                </a>
                <a href="https://eightyeightthirty.one">
                    <img loading="eager" src="https://assets.c48.uk/buttons/eightyeightthirtyone.png" alt="88x31">
                </a>
                <a href="https://kalechips.net/responsive">
                    <img loading="eager" src="https://assets.c48.uk/buttons/responsive.png" alt="responsive web design">
                </a>
                <a href="https://tetra.vivwebz.net">
                    <img loading="eager" src="https://assets.c48.uk/buttons/tetra.png" alt="tetra">
                </a>
                <a href="https://split.pet">
                    <img loading="eager" src="https://assets.c48.uk/buttons/split.png" alt="split.pet">
                </a>
                <a href="https://fluoritebyte.neocities.org">
                    <img loading="eager" src="https://assets.c48.uk/buttons/fluoritebyte.png" alt="fluoritebyte"
                        title="fluoritebyte">
                </a>
                <a href="https://bomberfish.ca/?higherdimension">
                    <img loading="eager" src="https://assets.c48.uk/buttons/bomberfish.gif" alt="BomberFish" title="BomberFish">
                </a>
                <a id="accuRotateBtn">
                    <img style="max-height: 33px;" loading="eager" src="https://assets.c48.uk/buttons/accurotate.webp" title="Click to rotate">
                </a>
            </div>
            <br>
        </div>
    </div>
    <br>
    <footer class="centreplease">
        <svg xmlns="http://www.w3.org/2000/svg" height="0.5em" viewBox="0 0 1021.2 71.6">
            <path fill="#fff4"
                d="M808.7 70.7H773v-9.6h9.4V10.3H773V.7h35.5q6.3 0 11 2.15a18.3 18.3 0 0 1 4.859 3.188 16.4 16.4 0 0 1 2.491 2.912q2.65 3.95 2.65 9.35v1a21 21 0 0 1-.252 3.353q-.29 1.792-.913 3.269a11 11 0 0 1-.635 1.278q-1.8 3.1-4.35 4.8t-4.85 2.4V36a13 13 0 0 1 2.079.745q1.014.456 2.087 1.108a25 25 0 0 1 .784.497q2.65 1.75 4.5 4.85 1.53 2.564 1.795 6.427a25 25 0 0 1 .055 1.673v1a20.8 20.8 0 0 1-.535 4.829A15.8 15.8 0 0 1 827.1 62.2q-2.7 4.1-7.45 6.3a23.4 23.4 0 0 1-6.46 1.884 31 31 0 0 1-4.49.316m-776.4 0h-10V18.9l.7-4.4-1.5-.5-2.4 3.7L6.6 30.3 0 23.7 23.7 0h7.2l23.7 23.7-6.6 6.6-12.5-12.6-2.4-3.7-1.5.5.7 4.4zm87.5 0h-10V18.9l.7-4.4-1.5-.5-2.4 3.7-12.5 12.6-6.6-6.6L111.2 0h7.2l23.7 23.7-6.6 6.6L123 17.7l-2.4-3.7-1.5.5.7 4.4zm86.1.7h-7.2L175 47.7l6.6-6.6 12.5 12.6 2.4 3.7 1.5-.5-.7-4.4V.7h10v51.8l-.7 4.4 1.5.5 2.4-3.7L223 41.1l6.6 6.6zm87.5 0h-7.2l-23.7-23.7 6.6-6.6 12.5 12.6 2.4 3.7 1.5-.5-.7-4.4V.7h10v51.8l-.7 4.4 1.5.5 2.4-3.7 12.5-12.6 6.6 6.6zm87.1-6.3-6.6 6.5-23.2-23.1v-6.8l23.2-23.2 6.6 6.6-12.2 12.1-3.7 2.4.5 1.5 4.4-.7h51.8v9.4h-51.8l-4.4-.7-.5 1.5 3.7 2.4zm146.9-16.6-23.2 23.1-6.6-6.5L509.8 53l3.7-2.4-.5-1.5-4.4.7h-51.8v-9.4h51.8l4.4.7.5-1.5-3.7-2.4-12.2-12.1 6.6-6.6 23.2 23.2zm64.1 16.6-6.6 6.5-23.2-23.1v-6.8l23.2-23.2 6.6 6.6-12.2 12.1-3.7 2.4.5 1.5 4.4-.7h51.8v9.4h-51.8l-4.4-.7-.5 1.5 3.7 2.4zm146.9-16.6-23.2 23.1-6.6-6.5L720.8 53l3.7-2.4-.5-1.5-4.4.7h-51.8v-9.4h51.8l4.4.7.5-1.5-3.7-2.4-12.2-12.1 6.6-6.6 23.2 23.2zm133.7 22.2h-11.2l20-70h19l19.9 70h-11.1l-4.6-16.5h-27.4zm17.5-63.3-10.2 36.8h22L891.2 7.4zm-96.3 33v20.5h14.1a18 18 0 0 0 3.423-.304q1.981-.381 3.538-1.242A9.7 9.7 0 0 0 815.9 58.3q3.1-2.6 3.1-7.2v-.9a11.1 11.1 0 0 0-.411-3.108A8.3 8.3 0 0 0 815.95 43q-3.05-2.6-8.55-2.6zm0-29.9v20h14.1a16.6 16.6 0 0 0 3.407-.329q2.237-.468 3.952-1.601a10 10 0 0 0 .841-.62 8.33 8.33 0 0 0 3.068-6.075A12 12 0 0 0 818.7 21v-1q0-4.4-3.05-6.95a10.4 10.4 0 0 0-3.979-2.026q-1.915-.524-4.271-.524zm187.1 54.6-6.6 6.5-23.2-23.1v-6.8l23.2-23.2 6.6 6.6-12.2 12.1-3.7 2.4.5 1.5 4.4-.7h42.4V18.5h9.4v31.3h-51.8l-4.4-.7-.5 1.5 3.7 2.4z">
            </path>
        </svg>
        <!--I very much stole the above from mercury workshop no way I wrote that myself-->
        <abbr title="Button, click to copy">
            <a id="buttona">
                <img alt="website button" src="https://assets.c48.uk/buttons/wilbur.avif">
            </a>
        </abbr>
        <iframe src="https://status.c48.uk/embed-badges/static-status?background-light=ffffff&amp;background-dark=171717" title="Status" width="130" height="30" loading="lazy" frameborder="0" scrolling="no"></iframe>
        <abbr title="Mousometer Gadget Total Distance">
            <a href="https://www.mousometer.de">
                <img src="https://www.mousometer.de/mousometer32504.gif"
                    alt="Mousometer - Distance meter for your mouse">
            </a>
        </abbr>
    </footer>
    <p id="credits" class="invisible">Audio Credit: Gobusto - Extreme Binary DnB</p>
    <script src="../scripts/index.ts"></script>
</Layout>