---
import Table from '../components/Table.astro';
const title = "Wilbur's Mirrors"
---

<!DOCTYPE html>
<html lang="en-GB">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="title" content={title}>
		<meta name="description" content="Wilbur's / EyeScary Development's mirror service">
		<meta name="author" content="Wilbur Williams">
		<meta name="og:title" content={title}>
		<meta name="og:description" content="Wilbur's / EyeScary Development's mirror service">
		<meta name="fediverse:creator" content="@wilbur@wetdry.world">
		<title>{title}</title>
		<link rel="dns-prefetch" href="https://assets.c48.uk">
		<link rel="preconnect" href="https://assets.c48.uk">
		<link rel="preconnect" href="https://assets.c48.uk" crossorigin>
        <style>
            @import url("https://assets.c48.uk/fonts/lexend.css");

            body {
                font-family: 'Lexend', sans-serif;
                background-color: rgb(5, 5, 19);
                color: rgb(227, 236, 226);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                min-height: 100vh;
                max-width: 1600px;
                margin: 0 auto;
            }

            a {
                color: rgb(26, 255, 0);
            }

            th, td {
                border: 1px solid white;
                padding: 8px;
            }
        </style>
	</head>
    <body>
        <h1 class="centretext">Mirrors</h1>
        <p class="centretext">page best viewed on a PC, will not be optimising this page for mobile</p>
        <h2>Welcome!</h2>
        <p>
            Welcome to the homepage for my mirror service.<br>
            Currently three servers make up the service. Sathonyia (repo.c48.uk) is the primary server,
            Oswald (uk.repo.c48.uk) is another UK node for capacity, and Melina (de.repo.c48.uk) is a German node.
        </p>
        <h3>tf is a mirror?</h3>
        <p>
            A mirror is a copy of some files, usually for an open-source project, that is kept up-to-date with the original copy.<br>
            Mirrors are used to distribute the files to users, and are throughout the world, so with enough mirrors there should 
            always be a local copy near you.<br>
            They also reduce the load on the original server, and are pretty much always volunteer operations, which spreads the cost 
            too.<br>
            This service is privately funded by me (and costs about ~£20/month to keep running), but the vast majority of mirrors are 
            hosted by hosting companies and universities. I'm just an exception because I felt like it and I thought it was a cool project 
            idea (it was, btw, and I use the servers for a few other things as well now).<br>
            It's also nice because I get to contribute to projects that I use (for example, I actually use 
            <a href="https://archlinux.org/mirrors/c48.uk">my own Arch mirror</a> pretty much daily).
        </p>
        <br>
        <h2>Projects mirrored</h2>
        <Table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Directory</th>
                    <th>Sync source (upstream only<sup><a href="#upstream-only">1</a></sup>)</th>
                    <th>Sync frequency</th>
                    <th>Size</th>
                    <th>Available on</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="https://archlinux.org">Arch Linux</a></td>
                    <td><a href="https://repo.c48.uk/arch/">/arch/</a></td>
                    <td>rsync.archlinux.org::ftp_tier1<sup><a href="#arch-tier1">2</a></sup></td>
                    <td>Hourly</td>
                    <td>~125GB</td>
                    <td>all mirrors</td>
                </tr>
                <tr>
                    <td><a href="https://aur.chaotic.cx">Chaotic AUR</a></td>
                    <td><a href="https://uk.repo.c48.uk/chaotic/">/chaotic/</a></td>
                    <td>builds.garudalinux.org::chaotic</td>
                    <td>Minutely</td>
                    <td>~80GB</td>
                    <td>uk.repo.c48.uk only</td>
                </tr>
                <tr>
                    <td><a href="https://endeavouros.com">EndeavourOS</a></td>
                    <td><a href="https://repo.c48.uk/endeavouros/">/endeavouros/</a></td>
                    <td>mirror.alpix.eu::endeavouros</td>
                    <td>Hourly</td>
                    <td>~80GB</td>
                    <td>repo.c48.uk and de.repo.c48.uk</td>
                </tr>
                <tr>
                    <td><a href="https://linuxmint.com">Linux Mint (ISOs)</a></td>
                    <td><a href="https://repo.c48.uk/mint/isos/">/mint/isos/</a></td>
                    <td>pub.linuxmint.com::pub</td>
                    <td>Every 6 hours</td>
                    <td>~125GB</td>
                    <td>repo.c48.uk and de.repo.c48.uk</td>
                </tr>
                <tr>
                    <td><a href="https://linuxmint.com">Linux Mint (Packages)</a></td>
                    <td><a href="https://repo.c48.uk/mint/pkgs/">/mint/pkgs/</a></td>
                    <td>rsync-packages.linuxmint.com::packages</td>
                    <td>Every 4 hours</td>
                    <td>~45GB</td>
                    <td>repo.c48.uk and de.repo.c48.uk</td>
                </tr>
                <tr>
                    <td><a href="https://ubuntu.com">Ubuntu (Releases)</a></td>
                    <td><a href="https://repo.c48.uk/ubuntu/releases/">/ubuntu/releases/</a></td>
                    <td>rsync.releases.ubuntu.com::releases</td>
                    <td>Hourly</td>
                    <td>~55GB</td>
                    <td>repo.c48.uk and uk.repo.c48.uk<sup><a href="#load-balance">[3]</a></sup></td>
                </tr>
            </tbody>
        </Table>
        <br>
        <h2>Mirror stats</h2>
        <Table>
            <thead>
                <tr>
                    <th>Sathonyia (repo.c48.uk)</th>
                    <th>Oswald (uk.repo.c48.uk)</th>
                    <th>Melina (de.repo.c48.uk)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="https://repo.c48.uk/vnstati.png"></td>
                    <td><img src="https://uk.repo.c48.uk/vnstati.png"></td>
                    <td><img src="https://de.repo.c48.uk/vnstati.png"></td>
                </tr>
                <tr>
                    <td><img src="https://repo.c48.uk/fivemins.png"></td>
                    <td><img src="https://uk.repo.c48.uk/fivemins.png"></td>
                    <td><img src="https://de.repo.c48.uk/fivemins.png"></td>
                </tr>
                <tr>
                    <td><img src="https://repo.c48.uk/hourly.png"></td>
                    <td><img src="https://uk.repo.c48.uk/hourly.png"></td>
                    <td><img src="https://de.repo.c48.uk/hourly.png"></td>
                </tr>
                <tr>
                    <td><img src="https://repo.c48.uk/daily.png"></td>
                    <td><img src="https://uk.repo.c48.uk/daily.png"></td>
                    <td><img src="https://de.repo.c48.uk/daily.png"></td>
                </tr>
                <tr>
                    <td><img src="https://repo.c48.uk/monthly.png"></td>
                    <td><img src="https://uk.repo.c48.uk/monthly.png"></td>
                    <td><img src="https://de.repo.c48.uk/monthly.png"></td>
                </tr>
                <tr>
                    <td><img src="https://repo.c48.uk/top.png"></td>
                    <td><img src="https://uk.repo.c48.uk/top.png"></td>
                    <td><img src="https://de.repo.c48.uk/top.png"></td>
                </tr>
            </tbody>
        </Table>
        <br>
        <h2>Servers</h2>
        <p>
            Sathonyia and Melina are <a href="https://contabo.com" target="_blank">Contabo</a> Storage VPS 1 instances. Their specs are as follows:
            <ul>
                <li>200mbps bandwidth (32TB per month "limit", before it slows to 100mbps. I passed it once and that's why ubuntu release are on uk.repo.c48.uk too.)</li>
                <li>2vCPU cores (which i've found to be <i>just about</i> fast enough)</li>
                <li>3GB RAM</li>
                <li>800GB (SATA) SSD (I've been fairly surprised at how much traffic I get with only a small amount of projects)</li>
                <li>Ubuntu Server</li>
            </ul>
            When Oswald was created, this package was not available anymore, so I went with a Storage VPS 10. The differences are that 
            there is only 300GB of storage, however RAM was bumped to 4GB.<br>
            All servers support IPv6 as well as IPv4.
        </p>
        <br>
        <h2 id="rsync">rsync</h2>
        <p>
            rsync is the tool used to sync mirrors and is usually required by projects. Most of my mirrors are also available publicly on rsync:
            <pre>
$ rsync repo.c48.uk::
                          ____ ___        __
  _______ ___  ___   ____/ / /( _ ) __ __/ /__
 / __/ -_) _ \/ _ \_/ __/_  _/ _  |/ // /  '_/
/_/  \__/ .__/\___(_)__/ /_/ \___(_)_,_/_/\_\
       /_/
---------------------------------------------
-                                           -
-          Welcome to repo.c48.uk!          -
-                                           -
-  The EyeScary Development Mirror Service  -
-                                           -
---------------------------------------------

This server is a Contabo Storage VPS 1, with a
200mbps internet connection and 800GB of space.

The rsync modules are mintiso, mintpkg, arch,
endeavouros, and ubuntu-releases.

Due to the bandwidth of this mirror, please do
not use this for private mirrors, but you may
use it for other public mirrors.

!! DO NOT ABUSE !!

mintiso         Linux Mint ISOs
mintpkg         Linux Mint Packages
arch            Archlinux
endeavouros     EndeavourOS
ubuntu-releases Ubuntu Releases
            </pre>
            I recommend you sync from the closest mirror to you, and if you're syncing arch in the UK sync from uk.repo.c48.uk as it has more
            available capacity.<br>
            Additionally, please use <code>rsync -rltpH --delete-delay --delay-updates --safe-links</code> as minimum rsync options. This is what is 
            required by Arch and will prevent user issues with your mirrors. If you are testing yourself, you may want to add <code>-vn</code> and 
            <code>--progress</code> to perform a dry run and get greater insight into what would happen on sync.
        </p>
        <br>
        <h2>Privacy Policy</h2>
        <p>
            The mirror servers do not log any personal data except for standard web server logs (IP address, user agent, date/time of access,
            requested resource, referrer). These logs are stored in the default location on the servers (/var/log/nginx/) and are cleaned out
            occassionally to save space. No data is shared with any third parties, and no cookies are used on the servers.<br>
            An example log entry looks like this:
            <pre>
2a02:c7c:3bcd:93df:feed:dead:beef:cafe - - [21/Dec/2025:17:51:51 +0000] "GET /endeavouros/repo/endeavouros/x86_64/yay-12.5.7-1-x86_64.pkg.tar.zst.sig HTTP/2.0" 200 143 "-" "pacman/7.1.0 (Linux x86_64) libalpm/16.0.1" "-"
            </pre>
            These are only really used for my own curiosity and to see how much traffic the mirrors are getting and from where.
        </p>
        <h2>FAQs</h2>
        <p>
            Q: Why are there two locations? Surely one would allow you to better service that region?<br>
            A: Yeah so funny story I was actually just going to get a server in Germany from <a href="https://hetzner.com">Hetzner</a>
            and use that to host my website, assets.c48.uk, etc, and deliberately get less storage to stop myself from inevitably
            turning it into another mirror service. Then Hetzner wouldn't let me have an account because I was under 18, so instead 
            I rented another Contabo server, and, well...
        </p>
        <p>
            Q: Why are you using Contabo?<br>
            A: Two reasons, I'll start with price. They're reliable <i>enough</i> and while some stuff breaks (like VNC goes down a lot 
            for some reason for me), for the storage and bandwidth I'm getting, it's a <i>very</i> good deal. The other reason is that 
            you don't have to be over 18 according to their ToS, so I can actually use it (lmao).
        </p>
        <p>
            Any more questions? <a href="mailto:contact@wilburwilliams.uk">Send me a message</a> and I'll try to get back to you as fast as possible.&nbsp;&nbsp; 
            <sub>techquickie reference? wait they put that channel on hold, didn't they :(</sub>
        </p>
        <h3>Notes</h3>
        <p id="upstream-only">
            <sup>[1]</sup>Sometimes mirrors sync from each other instead of all from one upstream.
            Currently this is the case with Arch Linux and Linux Mint: mint on de.repo.c48.uk syncs from 
            repo.c48.uk, and arch on de.repo.c48.uk syncs from uk.repo.c48.uk.
        </p>
        <p id="arch-tier1">
            <sup>[2]</sup>Arch Linux mirrors are split into two tiers, tier 1 and tier 2. My mirror is considered <b>tier 1</b>, and 
            is therefore allowed to sync from tier 0 (rsync.archlinux.org). Tier 2 mirrors sync off of tier 1s, if you want to mirror 
            off of me see <a href="#rsync">rsync</a>.
        </p>
        <p id="load-balance">
            <sup>[3]</sup>Ubuntu releases are load balanced between repo.c48.uk and uk.repo.c48.uk, dependent on IP. uk.repo.c48.uk syncs at the same time as 
            repo.c48.uk for this reason.
        </p>
        <script is:inline async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
		<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
    </body>
</html>