---
import "../styles/newtab.css";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Wilbur's customisable New Tab page">
    <meta name="og:description" content="Wilbur's customisable New Tab page">
    <link rel="dns-prefetch" href="https://assets.c48.uk">
    <link rel="preconnect" href="https://assets.c48.uk">
    <link rel="preconnect" href="https://assets.c48.uk" crossorigin>
    <title>New Tab</title>
    <link id="them" href="/css/themes/pitchdark.css" rel="stylesheet">
    <link href="/css/themes/universal.css" rel="stylesheet">
    <style is:inline id="inlineCustomCSS">
        /* This is replaced with any custom css not imported with a URL*/
    </style>
</head>
<body>
    <div id="main">
        <div class="dropdown">
            <button class="dropbtn wws-dropbtn">Menu</button>
            <div class="wws-dropdown-content dropdown-content">
                <a id="menu-primary-options">Primary Options</a>
                <a id="menu-link-editor">Custom Link Editor</a>
                <a id="menu-themes">Themes</a>
                <a id="menu-lazy">Set My Settings</a>
            </div>
        </div>
        <div class="dropdown2">
            <button class="dropbtn wws-dropbtn">Credits</button>
            <div class="dropdown-content wws-dropdown-content">
                <a href="https://wilburwilliams.uk">Wilbur Williams (made this)</a>
                <a href="https://devsuperiority.pages.dev/">Pittab (for dev superiority)</a>
            </div>
        </div>
        <div class="belowdrop2" id="pnts">
            <h2>Meaningless Internet Points™: <span id="points™"></span></h2>
        </div>
        <p class="spacersmol"></p>
        <h1 id="ntitle">New Tab</h1>
        <h3 id="time">Loading...</h1>
        <p class="spacersmol"></p>
        <div class="centreplease">
            <form id="searchForm">
                <input type="text" id="searchInput" class="wws-inputBox inputBox" placeholder="Enter to search..." autofocus>
                <div id="suggestions-container"></div>
            </form>
        </div>
        <div class="stuffbelowsearchbit">
            <button id="searchEcosia" class="belowaction">Search Ecosia (or go to chat)</button>
            <button id="infaredButton" class="belowaction">Use Infrared for this query</button>
        </div>
        <p>(click images to go to the websites)</p>
        <div id="quicklinks">
            <button id="quicklink1">
                <img src="https://assets.c48.uk/newtab/copilot.avif">
            </button>
            <button id="quicklink2">
                <img src="https://assets.c48.uk/newtab/gclass.avif">
            </button>
            <button id="quicklink3">
                <img src="https://assets.c48.uk/newtab/gdoc.png">
            </button>
        </div>
        <br>
        <div id="smallquicklinks">
            <button id="smallquicklink4"><img id="link4" src="https://assets.c48.uk/images/github.webp"></button>
            <button id="smallquicklink5"><img id="link5" src="https://assets.c48.uk/newtab/ecosia.avif"></button>
            <button id="smallquicklink6"><img id="link6" id="wisdevlogo" src="https://assets.c48.uk/newtab/wisdev.png"></button>
            <button id="smallquicklink7"><img id="link7" class="wws-svglogo" src="https://assets.c48.uk/newtab/electricitymaps-icon.svg"></button>
            <button id="smallquicklink8"><img id="link8" src="https://assets.c48.uk/newtab/quizlet.avif"></button>
            <button id="smallquicklink9"><img id="link9" src="https://assets.c48.uk/newtab/blooket.avif"></button>
        </div>
        <p id="mesage"></p>
    </div> 
    <div id="themes">
        <p class="spacersmol"></p>
        <h1>Theme Switcher</h1>
        <div class="centreplease">
            <button id="theme-hide">Hide Theme Switcher</button>
        </div>
        <div class="centreplease" id="themeslinks">
            <h2>
                <a id="theme-surface">Surface Theme (left)</a> &ndash;
                <a id="theme-deep">Deep Theme (centre)</a> &ndash;
                <a id="theme-pitchdark">Dark Theme (right)</a>
            </h2>
        </div>
        <div class="centreplease">
            <img loading="lazy" class="themeimg" src="https://assets.c48.uk/newtab/surfacetheme.avif">
            <img loading="lazy" class="themeimg" src="https://assets.c48.uk/newtab/deeptheme.avif">
            <img loading="lazy" class="themeimg" src="https://assets.c48.uk/newtab/darktheme.avif">
        </div>
        <br><br>
        <h2>Custom CSS</h2>
        <div class="centreplease">
            <form id="customCSSInput">
                <input type="text" id="cssURL" class="wws-inputBox inputBox" placeholder="Enter a css url...">
            </form>
        </div>
        <p><i>Will remove theme if invalid URL, or will use surface.css if blank</i></p>
        <br>
        <h2>Custom CSS Editor</h2>
        <h3><i>May be used in conjunction with a custom URL</i></h3>
        <p style="font-size: 10px;">If you cannot see the editor click the empty space below</p>
        <div class="centreplease" id="divaroundCSSeditor">
            <p id="inlineCSSeditor" contenteditable="true">/* Put CSS here!*/</p>
        </div>
        <div class="centreplease">
            <button id="saveInlineCSS">Save</button>
        </div>
    </div>
    <div id="primaryoptions">
        <p class="spacersmol"></p>
        <h1>Primary Options</h1>
        <p id="failthing2"></p>
        <div class="centreplease">
            <button id="options-hide">Hide Options</button>
        </div>
        <br>
        <h2>Change Search Engine</h2>
        <div class="centreplease">
            <form id="engineForm" class="inputWide">
                <input type="text" class="inputBox linkInput wws-inputBox" id="engineInput" placeholder="URL with %s in place of query">
                <p>(like https://ecosia.org/search?q=%s)</p>
            </form>
        </div>
        <br>
        <h2>Change Title</h2>
        <div class="centreplease">
            <form id="titleForm" class="inputWide">
                <input type="text" class="inputBox linkInput wws-inputBox" id="newTitleInput" placeholder="New Title">
            </form>
        </div>
        <br>
        <h2>Search Bar Behaviour</h2>
        <div class="centreplease">
            <label for="searchqu">When query starts with '?':&nbsp;&nbsp;</label>
            <select name="searchqu" id="searchqu">
                <option value="https">Append https:// to start and go (default)</option>
                <option value="http">Append http:// to start and go</option>
                <option value="search">Search normally</option>
            </select>
        </div>
        <div class="centreplease">
            <label for="searchex">When query starts with '!':&nbsp;&nbsp;</label>
            <select name="searchex" id="searchex">
                <option value="ddgbangs">Use DuckDuckGo Bangs (default)</option>
                <option value="https">Append https:// to start and go</option>
                <option value="http">Append http:// to start and go</option>
                <option value="search">Search normally</option>
            </select>
        </div>
    </div>
    <div id="linkeditor">
        <p class="spacersmol"></p>
        <h1>Quicklink editor</h1>
        <p id="failthing"></p>
        <div class="centreplease">
            <button id="linkeditor-hide">Hide Link Editor</button>
        </div>
        <div class="centreplease">
            <form id="linkForm">
                <input type="text" class="inputBox linkInput wws-inputBox" id="linkName" placeholder="Link ID (e.g., link1)">
                <br><br>
                <input type="text" class="inputBox linkInput wws-inputBox" id="linkContent" placeholder="Link URL...">
                <br><br>
                <input type="file" id="iconUpload" accept="image/*">
            </form>
        </div>
        <div class="centreplease">
            <button id="linkSubmit">Submit</button>
        </div>
        <h2>Available Links:</h2>
        <div class="centreplease">
            <ul id="availableLinks">
                <li>quicklink1</li>
                <li>quicklink2</li>
                <li>quicklink3</li>
            </ul>
        </div>
    </div>
    <span style="display: none;" id="stupiddomainendingstag"></span>
    <script src="../scripts/newtab.js"></script>
</body>
</html>