---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Wilbur's Projects">
    <h2>Things that I have worked on</h2>
    <a href="https://wakatime.com/@018edb3f-18b0-4c2c-8d13-f603c53260cb">
        <img src="https://wakatime.com/badge/user/018edb3f-18b0-4c2c-8d13-f603c53260cb.svg" alt="Total time coded since 14th April 2024">
    </a>
    <h3>EyeScary Development</h3>
    <p><a href="https://music.eyescary.uk">EyeScary Music</a> - AI generated music streaming service</p>
    <p><a href="https://eyescary.uk/stronge/">Stronge</a> - A minimal command-line text editor, complete with syntax
        highlighting for:</p>
    <p><a href="https://eyescary.uk/esdlang/">ESDLang</a> - 'EyeScary Development Language', a very not-feature-rich
        programming language</p>
    <p><a href="https://cscode.pages.dev">CSCode</a> - An Ace-based text editor, (tho pittab built most of it)</p>
    <p><a href="https://eyescary.uk/harmony/">Harmony</a> - Basically Stronge 2, pittab also built most of this one</p>
    <br>
    <h3>My own stuff</h3>
    <p><i>lots of this is abandoned btw</i></p>
    <h4>Good-ish stuff</h4>
    <p><a href="https://aqasbasement.uk">AQA's Basement</a> - A website for notes and stuff</p>
    <p><a href="https://grid.me.uk">wGrid</a> - A UK grid dashboard</p>
    <p><a href="https://github.com/ThisCatLikesCrypto/converter.py">converter.py</a> - A simple python script for
        converting between different file formats,
        supports multiprocessing and recursive (folders)</p>
    <br>
    <h4>Okay Stuff</h4>
    <p><a href="/wGrid/">wGrid OLD VERSION</a> - Uses the Carbon Intensity API to show grid data</p>
    <p><a href="/widgets/">Widgets</a> - wGrid Widget thing</p>
    <p><a href="/wTextitor/">wTextitor</a> - A pretty cool quill-based text editor</p>
    <p><a href="https://github.com/ThisCatLikesCrypto/GivAPI">GivAPI</a> - A simple python script for interfacing
        with the <a href="https://givenergy.cloud/docs/api/v1">GivEnergy API</a></p>
    <br>
    <h4>Bad stuff</h4>
    <p><a href="https://github.com/ThisCatLikesCrypto/engfetch">engfetch</a> - extremely slow but patriotic fetch</p>
    <p><a href="/wRevision/">wRevision</a> - An abysmally bad revision flashcard software</p>
    <p><a href="/games/cokie/cokcl.html">Cokie Cliker</a> - a very bad Cookie Clicker ripoff (made with <a
            href="https://pittab.neocities.org">pittab</a>)</p>
    <p><a href="https://github.com/ThisCatLikesCrypto/EncryptedPasswordManager">EncryptedPasswordManager</a> - A
        basic tkinter password manager, written badly as it was written a while ago</p>
    <p><a href="https://github.com/ThisCatLikesCrypto/we-know-your-ip-address">we-know-your-ip-address</a> - Captain
        Underpants meme</p>
    <h2>GitHub Stats</h2>
    <p></p>
    <img
        src="https://raw.githubusercontent.com/ThisCatLikesCrypto/github-stats/master/generated/overview.svg#gh-dark-mode-only">
    <img
        src="https://raw.githubusercontent.com/ThisCatLikesCrypto/github-stats/master/generated/languages.svg#gh-dark-mode-only">
    <br>
    <iframe src="/widgets/wGrid.html?theme=dark" height="300" width="300"></iframe>
</Layout>