---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Wilbur's Software">
    <Nav></Nav>
    <div class="main">
        <h1>Software Setup</h1>
        <h2>PC</h2>
        <p>Code Editor - VSCode</p>
        <p>Source Control - GitHub Desktop</p>
        <p>Browser - Brave</p>
        <p>Social - Discord</p>
        <p>Social - WhatsApp Desktop</p>
        <p>Backup - Synchredible</p>
        <p>Customisation - 8GadgetPack</p>
        <p>Customisation - Open-Shell</p>
        <p>Customisation - PowerToys</p>
        <p>System Maintenance - MSPC Manager</p>
        <p>System Maintenance - BCUninstaller</p>
        <p>Antivirus - Windows Defender</p>
        <p>Virtualisation - VirtualBox</p>
        <p>Video Editor - DaVinci Resolve</p>
        <p>Torrent Client - qBittorrent</p>
        <p>Recording - OBS Studio</p>
        <p>Archive Manager - Peazip</p>
        <p><i>Not listing games here or i'd be here all day</i></p>
        <br>
        <h2>Framework ('school')</h2>
        <p><i>This is all Linux Development Environment unless stated</i></p>
        <p>Code Editor - VSCodium</p>
        <p>Source Control - Just git, 
            <a href="https://www.reddit.com/r/ProgrammerHumor/comments/1gb4l3y/comment/ltiys56/">but aliased to guilt</a>
        </p>
        <p>Browser - Firefox, Chromium for the sole purpose of Azalea</p>
        <p>Social - Discord (Vesktop)</p>
        <p>Social - WhatsApp Web (WhatSie)</p>
        <p>Dotfiles - ML4W</p>
        <p>File Manager - Nautilus</p>
        <p>Recording - OBS Studio</p>
        <p>Video Editor - Kdenlive</p>
        <p>Archive Manager - Peazip (Qt)</p>
        <br>
        <h2>Browser (mostly extensions)</h2>
        <p><i>I use a fucking lot</i></p>
        <p>Search Engine - Ecosia</p>
        <p>Adblock - uBlock Origin</p>
        <p>Cookie block - I still don't care about cookies</p>
        <p>Search - Copilot (Bing Chat) in Google</p>
        <p>Customisation - Stylus</p>
        <p>Dev Tools - WhatRuns</p>
        <p>Dev Tools - BuiltWith</p>
        <p>Translate - Google Translate</p>
        <p>New Tab Redirect - wExtension</p>
        <p>VPN - Browsec (cuz free)</p>
        <p>Remote - Chrome Remote Desktop &nbsp;<i style="font-size: 10px;">(the ultimate school restriction bypass)</i></p>
        <p>YouTube - Auto HD/4k/8k for YouTube</p>
        <p>YouTube - SponsorBlock</p>
        <p>YouTube - Social Blade</p>
        <p>Volume Control - Volume Booster</p>
        <p>Sparx Bwk Bypass (f*ck sparx) - Azalea</p>
        <br>
        <Footer></Footer>
    </div> 
</Layout>