---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Wilbur's Devices' Specs">
    <div class="maindivdiv">
        <div>
            <h1>Specs for Stuff :D</h1>
            <h3>PC Specs (ivory)</h3>
            <p>CPU: Intel Core i3-12100F</p>
            <p>GPU: Nvidia GeForce RTX 3060 12GB</p>
            <p>RAM: 16GB (2x8) Corsair Vengeance PRO 3200mhz</p>
            <p>Mobo: ASUS Prime B660-PLUS D4</p>
            <p>PSU: Corsair TX650m</p>
            <p>Case: Corsair iCUE 4000X</p>
            <p>Boot SSD (C:): WD Blue SN570 500GB</p>
            <p>Games SSD (E:): WD Green SN350 2TB</p>
            <p>Storage SSD (F:): Seagate BarraCuda 120 SSD 1TB&nbsp;</p>
            <p>CPU Cooler: Hyper 212</p>
            <p>Fans: 5x Corsair 120mm RGB fans (mix)</p>
            <p>Monitor: iiyama G Master 24" 1080p 165hz (running at 120hz)</p>
            <p>Keyboard: RK Royal Kludge RK84 (originally brown switch)</p>
            <p>Keyswitches: MAGIC-REFINER AS Coral Pink Switches (Ultralight Linear) and some other clicky switches
                for function and modifier keys</p>
            <p>Mouse: Logitech G305</p>
            <p>OS: Win11</p>
            <br>
            <h3>Laptop Specs (atticus)</h3>
            <h4>named after atticus from the book series 'atticus claw' that i read when i was like 8 (its genuinely a
                good series tho)</h4>
            <p>Name: Framework Laptop 13 (13th gen intel)</p>
            <p>CPU: Intel Core i5-1340P</p>
            <p>RAM: 16GB (2x8) 3200MHz Lexar SODIMM</p>
            <p>Boot SSD (/, /boot): WD Green SN350 500GB</p>
            <p>OS: Arch Linux</p>
            <p>DE: KDE Plasma</p>
            <br>
            <h3>Second/Old PC Specs</h3>
            <p><i>Pretty much just a video transcode server</i></p>
            <p>CPU: Intel Core i5-9400F</p>
            <p>GPU: Nvidia GeForce GTX 1650</p>
            <p>RAM: 16GB (2x8) Corsair Vengeance LPX 2400mhz (OC'd to 2666mhz)</p>
            <p>Mobo: Gigabyte H310M S2H (Ultra Durable)</p>
            <p>PSU: Corsair VS350 (yes, i know)</p>
            <p>Case: PCSpecialist Office Case (idk)</p>
            <p>Boot SSD (/, /boot, C:): The cheap Kingston one (240GB) </p>
            <p>CPU Cooler: Some PCSpecialist thing</p>
            <p>Monitor: iiyama ProLite E2283HS 21.5" 1080p 75hz</p>
            <p>Keyboard: Some AJAZZ hot-swappable-but-still-bad keyboard</p>
            <p>Keyswitches: RK brown switches and some other clicky switches</p>
            <p>Mouse: That one Amazon cheap one with the old Tesla logo that is definitely not licensed (also fuck Elon
                Musk)</p>
            <p>OS: Windows 11 / Linux Mint 22 Cinnamon (what runs most of the time)</p>
            <br>
            <h3>Other Things</h3>
            <p>Phone: iPhone XR</p>
            <p>Watch: Apple Watch Series SE (1st gen)</p>
            <p>Earbuds: EarFun Air Pro 3</p>
            <p>Headset: Oculus Quest 2</p>
            <p>Tablet: iPad Mini (5th gen, I don't really use it)</p>
            <p>3D Printer: Anycubic Kobra 2 Neo</p>
            <p>Bo: redom</p>
        </div>
        <div>
            <img src="/images/ivory.png" alt="flashfetch for main pc">
            <br>
            <img src="/images/atticus.webp" alt="flashfetch for framework laptop 13">
        </div>
        <br>
    </div>
</Layout>

<style>
    /* puts the first div in specsmain on the left and the second on the right */
    .maindivdiv {
        margin: 0;
    }

    img {
        width: 100%;
        max-width: 1200px;
    }
</style>