---
import "../styles/wGrid.css";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wGrid</title>
    <link rel="icon" type="image/x-icon" href="/assets/icon.png">
</head>
<body>
    <script src="../scripts/wGrid.ts"></script>
    <div id="nav"><button onclick="window.location.href='/'">Home</button>
    </div>
    <br>
    <div id="everything">
        <div id="mainheader" class="widget">
            <h1>wGrid v0.2.1a</h1>
            <h2>Uses the Carbon Intensity API to show grid data</h2>
            <h3>If it doesn't work, reload</h3>
        </div>
        <br>
        <div class="overview" id="co2data">
            <div class="oversection widget">
                <p class="co2ex">Actual Intensity</p>
                <h3 id="actual" class="co2">Loading...</h3>
            </div>
            <div class="oversection widget">
                <p class="co2ex">Forecasted Intensity</p>
                <h3 id="forecast" class="co2">Loading...</h3>
            </div>
            <div class="oversection widget">
                <p class="co2ex">Intensity Index</p>
                <h3 id="index" class="co2">Loading...</h3>
            </div>
            <div class="oversection widget">
                <p class="co2ex">Low Carbon</p>
                <h3 id="lcpercent" class="co2">Loading...</h3>
            </div>
        </div>
        <br>
        <div class="overview" id="generationChart"></div>
        <br>
        <div class="overview">
            <div class="oversection widget">
                <h3>Renewable</h3>
                <p id="wind">Loading...</p>
                <p id="solar">Loading...</p>
                <p id="biomass">Loading...</p>
                <p id="hydro">Loading...</p>
            </div>
            <div class="oversection widget">
                <h3>Fossil Fuels</h3>
                <p id="gas">Loading...</p>
                <p id="coal">Loading...</p>
            </div>
            <div class="oversection widget">
                <h3>Low Carbon</h3>
                <p id="nuclear">Loading...</p>
                <p id="imports">Loading...</p>
            </div>
        </div>
    </div>
</body>
</html>