---
import Blog from '../../../layouts/Blog.astro';
---

<Blog title="Asexual">
    <div id="main">
        <h1 class="centretext">I'm ace (yay?)</h1>
        <p class="centretext"><i>2024-09-30</i></p>
        <h2>Oh cool! Since when?</h2>
        <p>
            Since 2024-09-09, at least that's when I became 99% sure. 
            It was honestly less of a realisation that I was ace and 
            more of a realisation that people just look at others and 
            think 'yeah I wanna do it with that guy' and... that just 
            kinda doesn't make any sense to me? That seems to be the 
            same experience a lot of aces have had as well.
        </p>
        <h2>Aroace or just ace?</h2>
        <p>
            Just ace, but I'm also going through a realisation that it 
            doesn't take months to be romantically attracted to anyone 
            for <i>most</i> people, and that I might be demiromantic?
            I'm not 100% sure though, and idk if I'll ever be considering 
            it's not like I can just turn into an alloromantic.
        </p>
        <p>
            (end, just needed to sorta announce this? idk it already says 
            like everywhere else)
        </p>
    </div>
</Blog>