---
import Blog from '../../../layouts/Blog.astro';
---

<Blog title="How Did We Get Here?">
    <div id="main">
        <h1 class="centretext">How Did We Get Here?</h1>
        <p class="centretext"><i>More accurately, how did I get here</i></p>
        <p class="centretext"><i>2024-10-29</i></p>
        <h2>What do you even mean by that lmao</h2>
        <p>
            Essentially, this is a blog post about why my Reddit/Mastodon accounts 
            are in the communities they are.
        </p>
        <h2>Where does this all stem from?</h2>
        <p>
            Mostly the tech sphere, which should be obvious. I probably have about 5 years 
            of experience in python at this point, I created my replit account 
            when I was like 9 (lol), and I've been slowly hopping from tech rabbit 
            hole to rabbit hole ever since. Windows, to Hardware, to Crypto, back to 
            Hardware, to Infrastructure, to Breaking ChromeOS, to Linux.
        </p>
        <h2>Breaking ChromeOS? Why is that so important?</h2>
        <p>
            Er... I basically have <a href="https://mercurywork.shop">Mercury Workshop</a>
            to thank for all of this. Our school uses Chromebooks, and <i>of course</i> 
            a tech nerd is going to be dissatisfied with the Chromebooks, and especially 
            enrollment. Oh my god do I hate ChromeOS Enterprise Enrollment. So of course 
            when I see <a href="https://darkn.bio/sh1mmer">SH1mmer</a>, I'm going to use it.
            Unfortunately, my Chromebook was already updated past v111, so I had to wait for 
            a new exploit, and in the meantime I joined the SH1mmer and TitaniumNetwork discords.
        </p>
        <h2>The people behind SH1mmer</h2>
        <sub>At least one of you is probably going to see this</sub>
        <p>
            I ended up looking into the people behind SH1mmer, and ended up making this 
            website (as <a href="/HTML2/">HTML2</a> already existed, and after seeing into 
            other people's sites and going down the Neocities rabbit hole I was inspired to make one).
            Once I had this site, I felt the need to join the communities surrounding small 
            personal techy websites, and after looking at what people were using for social media I joined 
            <a href="https://wetdry.world/@wilbur">Wet-Dry World</a>. That's why my fedi 
            account is there.
        </p>
        <p>
            Now, a thing about WDW, is that 
            <b style="color: orangered;">you cannot escape the transfems</b>. It's kinda 
            hilarious, but there's just so many (and honestly it's probably a good thing, 
            representation tends to make people feel more comfortable. That's why 
            it's needed, not just for trans people but for all marginalised groups). The 
            only trans people I'd ever known before were 
            <a href="https://www.youtube.com/@MythrodakTV">Ivory</a>, and 
            <a href="https://www.youtube.com/@mysticat">Mysticat</a>, so 'Two Minecraft YouTubers' 
            isn't a particularly wide spread of people.
        </p>
        <p>
            (long sidenote here so it gets its own paragraph, skip if you want)<br>
            I still remember when Ivory came out. I was watching the premiere on holiday in 
            Cornwall (2022-04-19, on Easter Holidays, I was 12 nearly 13) and her opening up 
            taught me about the struggles of trans people, the kind of support they need, etc.
            I remember faintly crying the whole time (it was not what I was expecting + 
            I'd never seen someone who I percieved as 'prison guy' open up so much, it was so 
            heartwarming and revealing to me). Honestly, she pretty much introduced me to 
            trans people.
        </p>
        <h2>Trans Subreddits</h2>
        <p>
            (Anyway) Me being reintroduced (or, properly introduced) to trans people made 
            me more interested, so I started looking up trans subreddits, and found 
            <a href="https://reddit.com/r/egg_irl">r/egg_irl</a>, a meme subreddit about 
            trans people in denial. A lot of the subreddit was people needing affirmation, 
            and that eventually led to the formation of <a href="https://reddit.com/r/GoodGenderDrug">r/GoodGenderDrug</a>.
            So that's why my reddit account is often there, I like helping people and trans people 
            seem to be targeted by far-right-wingers so I'm trying to do my best to help them.<br>
            <sub>This also led to me realising I'm ace, lol</sub>
        </p>
        <p>(There's the short version, if you want more info ask me about it)</p>
    </div>
</Blog>