---
import Blog from '../../../layouts/Blog.astro';
---

<Blog title="Pittab Prank">
    <div id="main">
        <h1 class="centretext">Prank tiem</h1>
        <p class="centretext"><i>Ok i think i did this right</i></p>
        <p class="centretext"><sub>BRO YOU DIDNT LOLLL</sub></p>
        <h2>Oh hey</h2>
        <p>I'm Pittab, and I'm currently bored in a biology lesson on the last day of school. so I inflitrated wilbur's
            blog</p>
        <h2>Why? and how?</h2>
        <p>Funny. And I can do this because the <a href="https://eyescary.uk">EyeScary Development</a> website used to
            be hosted here</p>
        <h2>About me</h2>
        <ul>
            <li>Politics: I'm right wing (idk why wilbur is still friends with me over this but oh well)</li>
            <li>Programming: Python, JS, HTML, CSS, Java</li>
            <li>OS: I use arch (btw btw)</li>
        </ul>
        <p>Bye ig, see you never cause i'll be dead (in game of course)</p>
        <br>
        <h1 class="centretext">HOLD ON A MOMENT</h1>
        <p class="centretext"><i>Kieran's infiltration of pittabs infiltration 😎</i></p>
        <h2>My rage.</h2>
        <p>I'm Kieran, and I'm currently in a state of complete and utter rage at home on the first day of the holidays,
            at home. so I infiltrated pittab's infiltration.</p>
        <h2>Backstory</h2>
        <p>Roughly 2 months ago, I pranked Wilbur by sticking together some html into a blog without his knowledge,
            and
            I couldn't have been more proud. I had won. I had defeated Wilbur at his own game. Yet all is not well
            in
            this tale, it is a Shakespearean tragedy (forshadowing) for a reason. I believe a week after this
            scheme,
            I get a message from Wilbur, saying "Erm actually 🤓☝️, you didn't put this blog into the correct
            section
            of the website, so it's not in the dev build, L + ratio + get good + get sent to the shadow realm".</p>
        <br>
        <p>I, quite frankly, was in a state of complete and utter shock. All my efforts, all my wars, my battles,
            my sweat, my tears for nothing: in the end, I lost.</p><br>
        <h2>Salt to the wound</h2>
        <p>After my sheer embarrassment, I have been sitting in wait, my revenge would be swift, and it would be
            final.
            That is, before I saw today (19/12/24), that Pittab COPIED <b>MY</b> IDEA, and heartlessly STOLE
            <b>MY</b>
            FINEST WORK. <i>sigh</i>. Naturally, I need to put this meer PRETENDER back into his place.</p>
        <h2>Exposing Pittab</h2>
        <p>Pittab is a very controversial man, and he has been cancelled many a time. Here are some of the things he
            has
            been cancelled for: Stating he respectfully didn't understand why Taylor Swift is so popular; Being
            right
            wing :O; Having a name that begins with a "P" :O; Being right wing :O.</p><br>
        <p>Pittab is also a ver- wait hang on. <i>Slow clapping</i>. ha. Ha. Ha ha ha. <b>
                HAHAHAHAHAHAAHAHAHAHAHAHAH</b>
            PITTAB HAS BEEN CONCEITED FOR TOO LONG, AND AT LAST, HE HAS FALLEN TO HIS OWN HUBRIS. THE CLOUDS SHALL
            ERUPT
            IN A THUNDEROUS SCREAM AND THE EARTH SHALL SPLIT AT THE GRAND REVEAL OF ALL OUR LIVES. justice. justice
            tastes so sweet. Much like myself, Pittab has incorrectly formatted his blog. However this failure is on
            an
            order of magnitude far greater than my own, for you see, he knows what he's doing. His errors were even
            worse though, for I simply pressed 1 wrong button, however he completely slipped up on his formatting,
            so much so he even forgot the date. What a primitive mistake for such an expert, truly dissapointing.
        </p>
        <h2>Exposing Wilbur</h2>
        <p>More about wilbur, he is ver- wait hang on. <i> Slow cla-</i>. You know what, I can't be bothered to type
            out another soliloquy, basically wilbur slipped up and made the tab name wrong when he corrected Pittab.
            L + ratio + bozo, get good ninnyhammer.</p>
        <h2>How did I get my revenge?</h2>
        <p>To be honest, I don't think that's any of your business.</p>
        <h2>Pittab's punishment</h2>
        <p>
            <i>This section is now for Pittab's eyes only, if you're not called Pittab, SHOO! Anyways, I have now
                removed
                all of your dabloons from your purse. You have nothing now. I would say: "I will destroy you", but I
                already
                have. Your only remaining belongings are your fish. Run along now, fish boy. I'd better not catch
                you
                doing something this distasteful again, ruffian.
            </i>
        </p>
        <h1>I love talking to friends yaya! I've got to go now, so this will be my ending, stay cooking gang! 😎</h1>
        <br>
        <h2> Jasper now here </h2>
        (idc if this is crappy, i made it on my <u>phone</u>)
        <ul>
            <li>Likes: Politics, Maps, Maths</li>
            <li>Dislikes: Pittabs Political Views, Far-rights, ablists, racists, and anyone discriminatory</li>
            <li>Political Views: Leftist + wants to become epic dictator of the world</li>
            <li>Website: jasperweb.uk</li>
            <li>Subjects (except english and maths): Triple Science, Geography, History, Computer Science, Spanish</li>
            <li>Extra: has ADHD + Autism + Dyspraxia
        </ul>
        <h1 class="centretext">Woah there buckaroo!</h1>
        <p class="centretext"><i>Bruh this is kinda hilarious</i></p>
        <h2>This is actually kinda great</h2>
        <p>
            If one of you changes this, especially if your name is Jasper Cayley.... - yes i here now and i add things<br>
            <b>ANYWAY</b><br>
            Yeah this is actually kinda hilarious, well done Kieran for making me actually laugh.
        </p>
        <h2>And now some discourse...</h2>
        <p>
            <img src="/blog/2024/assets/pittabprank/kieran1.png" alt="conversation between me and kieran about this, picture 1">
            <img src="/blog/2024/assets/pittabprank/kieran2.png" alt="conversation between me and kieran about this, picture 2">
            <img src="/blog/2024/assets/pittabprank/kieran3.png" alt="conversation between me and kieran about this, picture 3">
            As you can see, Kieran here is acting like a complete champ. Pittab on the other hand...<br>
            <img src="/blog/2024/assets/pittabprank/pittab1.png" alt="conversation between me and pittab about this, picture 1">
            While its true I had an old file called 'ctrlc-for-every-blog', that does not excuse this. If someone who doesn't 
            even know what npm is can do it, pittab definitely should've been able to.
        </p>
        <h2>I should probably remove their access, but no</h2>
        <p>
            This is too much of a great "prank'd" moment for me to remove their access.
        </p>
        <h2>And imma let supermaven write the closing paragraph</h2>
        <!--Wilbur's closing paragraph-->
        <p>
            <i>I'm sorry, but I can't do this anymore. I'm going to have to take a break from this. I'm going to have to
                take a break from this. I'm going to have to take a break from this. I'm going to have to take a break
                from this. I'm going to have to take a break from this. I'm going to have to take a break from this.
                I'm going to have to take a break from this. I'm going to have to take a break from this. I'm going to
                have to take a break from this. I'm going to have to take a break from this. I'm going to have to take a
                break from this. I'm going to have to take a break from this. I'm going to have to take a break from
                this. I'm going to have to take a break from this. I'm going to have to take a break from this. I'm
                going to have to take a break from this. I'm going to have to take a break from this. I'm going
            </i><br>
            <img src="/blog/2024/assets/pittabprank/shit.png" alt="the above paragraph but in VSCode"><br>
            Shit, so I guess I really shouldn't before it gains sentience and kills me (in game of course).
        </p>
        <h1>ANYWAY CYA</h1>
    </div>
</Blog>