<!DOCTYPE html>
<html>
    <head>
        <title>Prankd :D</title>
        <script src="https://cdn.jsdelivr.net/npm/dreamland@0.0.21/dist/all.js"></script>
        <link href="../style.css" rel="stylesheet">
        <script src="../nav.js"></script>
    </head>
    <body>
        <div id="headercontainer"></div>
        <hr>
        <div id="main">
            <h1 class="centretext">Prank tiem</h1>
            <p class="centretext"><i>Ok i think i did this right</i></p>

            <h2 class="centretext">Oh hey</h2>
            <p class="centretext">I'm Pittab, and I'm currently bored in a biology lesson on the last day of school. so I inflitrated wilbur's blog</p>
            <h2 class="centretext">Why? and how?</h2>
            <p class="centretext">Funny. And I can do this because the <a href="https://eyescary.uk">Eyescary Development</a> website used to be hosted here</p>
            <h2 class="centretext">About me</h2>
            <ul class="centretext">
              <li class="centretext">Politics: I'm right wing (idk why wilbur is still friends with me over this but oh well)</li>
              <li class="centretext">Programming: Python, JS, HTML, CSS, Java</li>
              <li class="centretext">OS: I use arch (btw btw)</li>
            </ul>
            <p class="centretext">Bye ig, see you never cause i'll be dead (in game of course)</p>
        </div>
    </body>
</html>
