---
import Blog from '../../../layouts/Blog.astro';
---

<Blog title="How Did We Get Here?">
    <div id="main">
        <h1 class="centretext">Prank tiem</h1>
        <p class="centretext"><i>Ok i think i did this right</i></p>
        <p class="centretext"><sub>BRO YOU DIDNT LOLLL</sub></p>
        <h2>Oh hey</h2>
        <p>I'm Pittab, and I'm currently bored in a biology lesson on the last day of school. so I inflitrated wilbur's
            blog</p>
        <h2>Why? and how?</h2>
        <p>Funny. And I can do this because the <a href="https://eyescary.uk">EyeScary Development</a> website used to
            be hosted here</p>
        <h2>About me</h2>
        <ul>
            <li>Politics: I'm right wing (idk why wilbur is still friends with me over this but oh well)</li>
            <li>Programming: Python, JS, HTML, CSS, Java</li>
            <li>OS: I use arch (btw btw)</li>
        </ul>
        <p>Bye ig, see you never cause i'll be dead (in game of course)</p>
    </div>
</Blog>