---
import Blog from "../../../layouts/Blog.astro"
---

<Blog title="Politics">
    <div id="main">
        <h1 class="centretext">Politics</h1>
        <p class="centretext"><i>2024-08-08</i> (Updated 2024-12-15)</p>
        <h2>Why make this?</h2>
        <p>
            Generally I find it pretty difficult to have deeper conversations 
            with people of opposite political opinions, so I'll leave this here 
            so anyone like me can make an informed desicion on whether to interact.
        </p>
        <h2>General</h2>
        <img src="/blog/2024/assets/politics/compass.png" alt="my political compass, showing -7.25 economic and -6.72 social" />
        <p>
            I'll admit that this is further left than I originally thought before 
            taking the test but honestly it makes sense. The social scale does <b>not</b> 
            surprise me at all.
        </p>
        <p>
            More specifically:<br>
            - Economic: F*ck the rich (>£50m net worth). The govt should run the country in the economic 
            interest of the majority.<br>
            - Religion: Doesn't affect whether I can be friends with someone, but 
            that doesn't stop me from hating religion at the authority level (I don't see the point in it, and 
            I went to a CofE primary school which if anything made me hate religion more). I won't police 
            your religion though.<br>
            - Homophobia, transphobia, etc.: Why is this even a problem? Just let people be who they 
            want to be and stop policing people's gender and sexuality.
            (sidenote: I swear there's a positive correlation between 
            being a great person and being LGBTQ+ in some way. <s>Also I'm straight cis and hate it 
            cuz I do NOT have the social skills for it</s> (not, see ace blog lol)).<br>
            - Racism, sexism: Again why is this a problem, can't we just agree to judge people 
            purely on contributions to society or something and not thing they can't change about 
            themselves (sidenote: go watch <a href="https://www.youtube.com/watch?v=wCl33v5969M" target="_blank">this</a>.)<br>
            - Pro-choice, duh.<br>
            - Ableism: As an autistic, UTTERLY STUPID AND PLEASE JUST F*CKING EDUCATE YOURSELVES 
            ON HOW TO DEAL WITH AN AUTISTIC PERSON ITS NOT THAT HARD I DONT CONFORM TO YOUR SOCIAL 
            NORMS AND SINCE I HAVE TO DEAL WITH YOUR SOCIAL NORMS IT ONLY FAIR IF YOU LEARN WHY I 
            FIND IT HARD TO AND JUST BE CLEAR ABOUT WHAT YOU WANT AAAAA
            (I will keep going for at least 10 mins if I don't end it there).<br>
            - Favourite political party: <a href="https://www.libdems.org.uk" target="_blank">Liberal Democrats</a>.
            (sidenote: it would be the green party but they have a few backwards policies like shutting all 
            nuclear plants down and I don't think they're super well equipped to run the country.)<br>
            - Least favourite political parties: Republican (US), Reform (UK), AfD (Germany).
        </p>
    </div>
</Blog>