---
import Blog from '../../../layouts/Blog.astro';
---

<Blog title="Haha! This blog has been infiltrated by Kieran!!!">
    <div id="main">
        <h1 class="centretext">Little prank lol</h1>
        <p class="centretext"><i>2024-10-19 (Updated 2024-10-29)</i></p>
        <h2>2024-10-29</h2>
        <p>
            <i>I found this a bit over a week ago</i>
        </p>
        <h2>Hi Wilbur, how long did it take you to notice this lol</h2>
        <p>
            Hey guys, it's Kieran, back with another prank (Wilbur is
            going to kill me for this) (in game of course). Anyways,
            why would I do this, you may be asking... Yeah idk tbh, I
            just felt like it. Wow I don't know how people do blogs like
            this, I have no idea what to say ahhhhhh.
        </p>
        <h2>Wait a minute... How did you do this?</h2>
        <p>
            Yeah so I have access to the github of the website from back
            when I was doing html2 with Wilbur (look at blog on 
            2024-06-26 for more details), so I kinda just did it lol. Tbh
            I'm not actually a god like Mr W so I don't really know what 
            I'm doing, but I basically just copied the Ace blog and
            edited in my own paragraphs. Wowee so complex ik.
        </p>
        <h2>Lore or something idk</h2>
        <p>
            Yeah so you might not know this, but I'm Kieran Lynch, a
            friend of Wilbur, 14 (as of writing this), uhhh, I also do
            CS I guess so I kinda know stuff, but also Wilbur actually
            knows what he's doing lol. I have to say, he is probably the
            only person in the year other than Jasper, that is able to 
            make a website this good, it's insane. Like he somehow got
            a 3D website, idk know how but he did it. So yeah he 100%
            is getting a 9 in CS (My face will go red and steam will 
            come out of my ears if he doesn't).
        </p>
        <h2>Idk what I should put the titles as</h2>
        <p>
            Oh yeah a bit more about me:</p>
            <ul>
            <li><p>I take: CS, Triple Science, English, Maths, Geography, German
            and Music</p></li>
            <li><p>My hobbies are: Science-y stuff (I think I would be defined
            as a neek), music, video games (wowee!!!)</p></li>
            <li><p>More about music, I play: Piano and Sax, and I'm working on
            Grade 5 for both. I use Sax more, because I am part of my
            schools concert band, and I will be joining the Jazz Band when it
            starts in January-ish. I love performing at concerts at stuff, it's
            so invigorating!</p></li>
            <li><p>Music taste: For the longest time, I've been listening to a
            combo of jazz and Video game music, but recently I realised that
            most of the video game music I like is just rock. So yeah I like
            rock lol. I started off listening to Lovejoy, but then I 
            I moved on and started listening to James Marriot (Yeah ik my 
            music taste is bad), and have recently started listening to Good 
            Kid, and they've been my favourite so far, so yeah that cool
            (Premier Inn started playing as I wrote this lol), oh yeah also I
            like Notion and AJR they're pretty awesome :sunglasses:</p></li>
            <li><p>Places I've been: England (obviously), Ireland (I'm part
            Irish), America (I have relatives), Germany (I know people there),
            and recently, Switzerland, which has probably been my favourite out
            of all of them.</p></li>
            <li><p>Political ideology (yeah im stealing Wilburs ideas shut up): 
            basically just like a more centrist version of Wilburs's, still Lib
            left tho</p></li>
            <li><p>Favourite Games: I probably have the most hours on Roblox
            (sad ik), but I also like Minecraft, and many Nintendo games like
            Pokemon, Mario etc. I've been playing a lot of a roblox game called
            Typical Colors 2 (TC2), which is based off of Team Fortress 2 (TF2),
            a steam game. Although it's F2P, you need to pay to do a lot of
            things in game, which is why I play the roblox knock-off lol</p></li>
            </ul>
            <p>Yeah ok thats everything I can think of so uh goodbye, pleasure
            to steal Wilburs website from him! (dw I'll be back unless Wilbur
            removes my access :D)</p>
    </div>
</Blog>
