---
import Blog from "../../../layouts/Blog.astro";
---

<Blog title="Site-free-stuff list">
    <div id="main">
        <h1 class="centretext">Free-hosting stuff list</h1>
        <p class="centretext"><i>2024-06-29 (updated 2025-03-21), create a PR if you have something to add</i></p>
        <sub>this is a fmhy ripoff but with some additions at this point</sub>
        <h2>Site Hosting</h2>
        <p>
            <a href="https://pages.cloudflare.com/">https://pages.cloudflare.com/</a> | Cloudflare Pages | Unlimited<br>
            <a href="https://pages.github.com/">https://pages.github.com/</a> | GitHub Pages | 100GB/mo (soft, no paid options to raise it though)<br>
            <a href="https://docs.gitlab.com/ee/user/project/pages/">https://docs.gitlab.com/ee/user/project/pages/</a> | GitLab Pages | Couldn't find limit, probably a soft one like GitHub<br>
            <a href="https://codeberg.page/">https://codeberg.page/</a> | Codeberg Pages | (can't find limit, doubtful there is one)<br>
            <a href="https://surge.sh/">https://surge.sh/</a> | Surge | "unlimited publishing"<br>
            <a href="https://render.com/">https://render.com/</a> | Render | 100GB/mo<br>
            <a href="https://www.netlify.com/">https://www.netlify.com/</a> | Netlify | 100GB/mo<br>
            <a href="https://vercel.com">https://vercel.com/</a> | Vercel | 100GB/mo<br>
            <a href="https://azure.microsoft.com/en-us/products/app-service/static/">https://azure.microsoft.com/en-us/products/app-service/static/</a> | Azure Static Web Apps | 100GB/mo<br>
            <a href="https://kinsta.com/static-site-hosting/">https://kinsta.com/static-site-hosting/</a> | Kinsta | 100GB/mo<br>
            <a href="https://sevalla.com/static-site-hosting/">https://sevalla.com/static-site-hosting/</a> | Sevalla (same company as Kinsta lol) | 100GB/mo<br>
            <a href="https://firebase.google.com/">https://firebase.google.com/</a> | Firebase | 360MB/day (10GB/mo)<br>
            <a href="https://www.statichost.eu/">https://www.statichost.eu/</a> | Statichost | 10GB/mo<br>
            <a href="https://www.digitalocean.com/products/app-platform">https://www.digitalocean.com/products/app-platform</a> | DigitalOcean App Platform | 1GiB (1.0737GB)/mo<br>
            <a href="https://neocities.org">https://neocities.org/</a> | Neocities | 200GB/mo<br>
            <a href="https://nekoweb.org">https://nekoweb.org/</a> | Nekoweb | (no limit, "but we might ask you to upgrade to a higher tier if your site is consuming large amounts of bandwidth")<br>
            <a href="https://pages.gay">https://pages.gay/</a> | pages.gay | (can't find limit, doubtful there is one)<br>
            <a href="https://freewha.com">https://freewha.com/</a> | Free Website Hosting Area | No limit<br>
            <a href="https://freehosting.com/">https://freehosting.com/</a> | Freehosting | No limit<br>
            <a href="https://www.infinityfree.com/">https://www.infinityfree.com/</a> | InfinityFree | No limit<br>
            <a href="https://x10hosting.com/">https://x10hosting.com/</a> | x10Hosting | No limit<br>
            <a href="https://www.freehostia.com/">https://www.freehostia.com/</a> | Freehostia | 6GB/mo<br>
            <a href="https://www.awardspace.com/free-hosting/">https://www.awardspace.com/free-hosting/</a> | AwardSpace | 5GB/mo<br>
            <a href="https://www.freehostingeu.com/">https://www.freehostingeu.com/</a> | Freehostingeu | 4GB/mo<br>
            <a href="https://www.clodui.com/">https://www.clodui.com/</a> | Clodui | 1GB/mo
        </p>
        <br>
        <h2>CDNs</h2>
        <p>
            <a href="https://www.cloudflare.com/">https://www.cloudflare.com/</a> | Cloudflare | Free Plan (unlimited)<br>
            <a href="https://aws.amazon.com/cloudfront/">https://aws.amazon.com/cloudfront/</a> | Amazon CloudFront | Free Plan (1TB/mo)<br>
            <a href="https://gcore.com/">https://gcore.com/</a> | Gcore | Free Plan (1TB/mo)<br>
            <a href="https://www.fastly.com/">https://www.fastly.com/</a> | Fastly | Free Plan (Roughly 350GB/mo)<br>
            <a href="https://www.cachefly.com/">https://www.cachefly.com/</a> | CacheFly | Free Plan (100GB/mo)<br>
            <a href="https://bunny.net/">https://bunny.net/</a> | No Free Plan (close)<br>
            <a href="https://www.keycdn.com/">https://www.keycdn.com/</a> | No Free Plan (close)<br>
        </p>
        <br>
        <h2>Free CSS/JS/Static CDNs</h2>
        <p>
            <a href="https://www.jsdelivr.com">https://www.jsdelivr.com/</a> | jsDelivr | npm and GitHub<br>
            <a href="https://staticdelivr.com/">https://staticdelivr.com/</a> | StaticDelivr | npm, GitHub, and Google Fonts<br>
            <a href="https://www.skypack.dev">https://www.skypack.dev/</a> | Skypack | npm (optimised for esm)<br>
            <a href="https://unpkg.com">https://unpkg.com/</a> | UNPKG | npm<br>
            <a href="https://statically.io">https://statically.io/</a> | Statically | GitHub, GitLab and Bitbucket<br>
            <a href="https://cdnjs.com">https://cdnjs.com/</a> (<a href="https://cdnjs.cloudflare.com">https://cdnjs.cloudflare.com/</a>) | CDNJS | most popular libraries (lots, thousands)<br>
            <a href="https://developers.google.com/speed/libraries">https://developers.google.com/speed/libraries/</a> | Google Hosted Libraries | most popular libraries (not many)<br>
            <a href="https://learn.microsoft.com/en-us/aspnet/ajax/cdn/overview">https://learn.microsoft.com/en-us/aspnet/ajax/cdn/overview/</a> | Microsoft AJAX CDN | ASP.NET, jQuery, Bootstrap and Globalize<br>
            <a href="https://releases.jquery.com/">https://releases.jquery.com/</a> | jQuery CDN | jQuery only
        </p>
        <br>
        <h2>Free Font CDNs</h2>
        <p>
            <a href="https://fonts.bunny.net/">https://fonts.bunny.net/</a> | Bunny Fonts | Free (OFL/UFL/CC) fonts<br>
            <a href="https://staticdelivr.com/">https://staticdelivr.com/</a> | StaticDelivr | Free (OFL/UFL/CC) fonts<br>
            <a href="https://fonts.google.com/">https://fonts.google.com/</a> | Google Fonts | Free (OFL/UFL/CC) fonts<br>
            <a href="https://fontsource.org/">https://fontsource.org/</a> | Fontsource | Free (OFL/UFL/CC) fonts (CDN is actually just jsDelivr but worth mentioning)<br>
            <a href="https://fonts.adobe.com/">https://fonts.adobe.com/</a> | Adobe Fonts | Many fonts (1k free, 30k total), requires signup<br>
            <a href="https://www.fontshare.com/">https://www.fontshare.com/</a> | Fontshare | Free to use fonts by Indian Type Foundry (exciting name I know)
        </p>
        <br>
        <h2>Free File Hosting (unlimited time only)</h2>
        <p>
            <a href="https://buzzheavier.com/">https://buzzheavier.com/</a> | BuzzHeavier | No limit<br>
            <a href="https://catbox.moe/">https://catbox.moe/</a> | Catbox | Limit 200MB, a bit weard but has been up for years so likely reliable<br>
            <a href="https://fyle.uk/">https://fyle.uk/</a> | monofile | Discord based (so a tad risky), 720MiB limit
        </p>
        <br>
        <h2>Free File Storage</h2>
        <p>
            <a href="https://www.terabox.com/">https://www.terabox.com/</a> | Terabox | 1TB limit (yes, 1TB)<br>
            <a href="https://www.mediafire.com/">https://www.mediafire.com/</a> | Mediafire | 10GB limit (can be increased up to 50GB)<br>
            <a href="https://mega.io/">https://mega.io/</a> | Mega | 20GB limit)<br>
            <a href="https://www.blomp.com/">https://www.blomp.com/</a> | Blomp | 20GB limit (can be increased up to 200GB with referrals)<br>
            <a href="https://drive.google.com/">https://drive.google.com/</a> | Google Drive | 15GB limit<br>
            <a href="https://www.box.com/">https://www.box.com/</a> | Box | 10GB limit<br>
            <a href="https://filen.io/">https://filen.io/</a> | Filen | 10GB limit<br>
            <a href="https://idrive.com/">https://idrive.com/</a> | iDrive | 10GB limit<br>
            <a href="https://1cloudfile.com/">https://1cloudfile.com/</a> | 1CloudFile | 10GB limit<br>
            <a href="https://www.pcloud.com/">https://www.pcloud.com/</a> | pCloud | 10GB limit<br>
            <a href="https://icedrive.net/">https://icedrive.net/</a> | IceDrive | 10GB limit<br>
            <a href="https://proton.me/drive">https://proton.me/drive</a> | Proton Drive | 5GB limit<br>
            <a href="https://www.microsoft.com/en-gb/microsoft-365/onedrive/online-cloud-storage">https://www.microsoft.com/en-gb/microsoft-365/onedrive/online-cloud-storage</a> | OneDrive | 5GB limit<br>
            <a href="https://www.icloud.com/">https://www.icloud.com/</a> | iCloud | 5GB limit<br>
            <a href="https://internxt.com/">https://internxt.com/</a> | Internxt | 1GB limit (can be increased up to 10GB)<br>
            <a href="https://www.dropbox.com/">https://www.dropbox.com/</a> | Dropbox | 2GB limit<br>
            <a href="https://jumpshare.com/">https://jumpshare.com/</a> | Jumpshare | 2GB limit
        </p>
    </div>
</Blog>