---
const { title } = Astro.props;
import "../../styles/tclc-webador.css";
---

<!DOCTYPE html>
<html lang=en-GB>

<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <title>{title}</title>
    <link rel="stylesheet" href="https://fonts.bunny.net/css?family=Roboto:400,400i|Questrial:400">
</head>

<body id=top
    class="jw-is-no-slideshow jw-header-is-text jw-is-segment-page jw-is-frontend jw-is-no-sidebar jw-is-no-messagebar jw-is-no-touch-device jw-is-no-mobile jw-menu-is-desktop">
    <div class=jw-background style=--header-height:237px></div>
    <div class=jw-body>
        <div class=topmenu>
            <header>
                <div class="topmenu-inner js-topbar-content-container">
                    <div class=jw-header-logo>
                        <div class="jw-header jw-header-title-container jw-header-text jw-header-text-toggle"
                            data-stylable=true>
                            <h1 id=jw-header-title class=jw-header-title>
                                ThisCatLikesCrypto's site </h1>
                        </div>
                    </div>
                    <nav class="menu jw-menu-copy">
                        <ul id=jw-menu class="jw-menu jw-menu-horizontal sf-js-enabled sf-arrows"
                            style=touch-action:pan-y>
                            <li class="jw-menu-item">
                                <a class="jw-menu-link" href="https://wilburwilliams.uk/archive/tclc-webador/">
                                    <span>Home</span>
                                </a>
                            </li>
                            <li class=jw-menu-item>
                                <a class=jw-menu-link href="/archive/tclc-webador/support-me">
                                    <span> Support me</span>
                                </a>
                            </li>
                            <li class=jw-menu-item>
                                <a class=jw-menu-link href=https://youtube.com/thiscatlikescrypto target=_blank
                                    rel=noopener>
                                    <span>Youtube Channel</span>
                                </a>
                            </li>
                            <li class=jw-menu-item>
                                <a class=jw-menu-link href="/archive/tclcs-webador/" target=_blank rel=noopener>
                                    <span>Guides and Review Site (Under Construction)</span>
                                </a>
                            </li>
                            <li class=jw-menu-item>
                                <a class=jw-menu-link href="/archive/tclc-webador/pc-specs">
                                    <span>PC Specs</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
        </div>
        <slot />
        <footer class=block-footer>
            <div data-section-name=footer class="jw-section jw-section-footer jw-responsive">
                <div
                    class="jw-strip jw-strip--default jw-strip--style-color jw-strip--primary jw-strip--color-default jw-strip--padding-both">
                    <div class=jw-strip__content-container>
                        <div class="jw-strip__content jw-responsive">
                            <div class="jw-tree-node jw-element jw-simple-root jw-tree-container jw-tree-container--empty jw-node-is-first-child jw-node-is-last-child">
                            </div>
                            <div class="jw-credits clear">
                                <div class=jw-credits-owner>
                                    <div id=jw-footer-text>
                                        <div class=jw-footer-text-content>
                                            © 2021 - 2025 ThisCatLikesCrypto's directory </div>
                                    </div>
                                </div>
                                <div class=jw-credits-right>
                                    <div id=jw-credits-tool>
                                        <small>
                                            Powered by <a href="https://www.webador.com/" target="_blank" rel="noopener">Webador</a> </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>