---
import "../../styles/HTML2/Whatdis.css";
---

<!DOCTYPE html>
<html>

<head>
  <title>hmmmm</title>
</head>

<body>
  <script src="../../scripts/HTML2/Whatdis.js"></script>
  <div class="tab">
    <button class="tablinks active" id="defaultTab" data-tab="Tab0">main</button>
    <button class="tablinks" data-tab="Epic">Epic!</button>
    <button class="tablinks" data-tab="about">about</button>
    <button class="tablinks" data-tab="subsites">sub-sites</button>
    <div id="Tab0" class="tabcontent">
      YOOO
    </div>
    <div id="Epic" class="tabcontent">
      <button id="add">Button</button>
      <p> </p>
      <button id="Boooo">Boooo</button>
      <p> </p>
      <button id="EEEE">EEEE</button>
      <p> </p>
      <button id="PainButton">Pain_Button</button>
    </div>
    <div id="about" class="tabcontent">
      <form id="userForm">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <input type="submit" value="Submit" id="displayInfo">
      </form>
      <p id="id243"></p>
    </div>
    <div id="subsites" class="tabcontent">
      yesfe
    </div>
  </div>
  <p>WebWork? Yes</p>
</body>

</html>