<div class="nav">
	<!-- Site navigation -->
	<button id="sidenavbtn" onclick="showSide()">Show Sidebar</button>
	<div class="sidenav" id="sidenav">
		<a href="/">Main</a>
		<a href="/projects/">Projects</a>
		<a href="https://dl.wilburwilliams.uk">ISO dl</a>
		<a href="/blog/">Blog</a>
		<a href="/about/">About This</a>
		<a href="/accounts/">Accounts</a>
		<a href="/data/">Data!</a>
		<a href="/newtab/index.html">Newtab</a>
		<a href="/HTML2/index.html">HTML2</a>
		<a href="/HTML3/index.html">HTML3</a>
		<a href="https://eyescary.uk">EyeScary</a>
		<a href="/specs/">Tech Specs</a>
		<a href="/software/">Software Setup</a>
		<a href="/directory/">Crypto Links</a>
		<a href="/donate/">Donate</a>
		<a href="/domains/">Domains</a>
	</div>
</div>