<div class="table-container">
    <table>
        <slot />
    </table>
</div>

<style>
    .table-container {
        width: 100%;
        overflow-x: auto; /* Allows horizontal scrolling */
    }

    table {
        border-collapse: collapse;
        overflow-x: scroll;
        text-align: center;
        margin: 0 auto;
    }
</style>