/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set background color for the entire page */
body {
    background-color: darkslategrey;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

/* Style the main heading */
h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}

/* Style the subheadings */
h2 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    color: lightblue;
}

/* Style the paragraphs */
p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: orange;
}
