---
import "../../styles/projects.css";
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Widgets</title>
    <link rel="icon" type="image/x-icon" href="/assets/icon.png">
</head>

<body>
    <div class="nav">
        <a href="/">Home</a>
        <a href="index.html">Widgets</a>
        <a href="https://eyescary.uk">EyeScary</a>
    </div>
    <h1>Widgets</h1>
    <h2>Here are widgets you may embed in your website</h2>
    <p>(not actively being worked on, don't expect more for now)</p>
    <h3>wGrid Widget</h3>
    <iframe src="wGrid.html?theme=dark" height="300"></iframe>
    <h4>How to Embed?</h4>
    <code>&lt;iframe src="https://wilburwilliams.uk/widgets/wGrid.html" height="300"&gt;&lt;/iframe&gt;</code>
    <p>Then, you have to specify a query URL parameter based on the theme. <code>?theme=dark</code> or
        <code>?theme=light</code></p>
    <p>So, for example, the whole URL could be <code>https://wilburwilliams.uk/widgets/wGrid.html?theme=dark</code>
    </p>
    <p>If you don't, well...</p>
    <iframe src="wGrid.html" style="background-color: white;" height="300"></iframe>
    <script is:inline async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
	<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
</body>