---
import "../../../styles/stil.css";
---

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cokie cliker</title>
</head>

<body>
    <script src="../../../scripts/weard.ts"></script>

    <p id="counter"></p>
    <p id="cps"></p>

    <button id="cookieBtn"><img id="cookieImg" src="https://assets.c48.uk/images/cookies.png"></button>
    <br>
    <button id="downSave">Download Save</button>
    <button id="upSave">Upload Save</button>
    <br><br>
    <button class="buyBtn" id="buyCursorBtn"><b>buy cursor for <p id="curby">5</p> cokies each</b></button>
    <br><br>
    <button class="buyBtn" id="buyProCursorBtn"><b>Buy pro cursor for <p id="procurby">10</p> cokies each</b></button>
    <br><br>
    <button class="buyBtn" id="buyFarmBtn"><b>Buy farm for <p id="farmby">100</p> cokies each</b></button>
    <br><br>
    <button class="buyBtn" id="buyFactoryBtn"><b>Buy factory for <p id="factoryby">1000</p> cokies each</b></button>
    <br><br><br><br>
    <br><br>
    <p id="messages"></p>

</body>

</html>