html, body {
  animation: funnyRainbow linear 12s infinite;
  animation-direction: normal;
  color: white;
  height: 100%;
  width: 100vw;
}

a, p, h1 {
  color: darkslategrey;
  animation: textRainbow linear 4s infinite;
  padding: 4px;
}

@keyframes funnyRainbow {
  0% {background-image:url("../assets/funi/Bojo.jpeg");} 
  16% {background-image:url("../assets/funi/Bojo2.jpeg");}
  32% {background-image:url("../assets/funi/funnyJoe.jpeg");}
  50% {background-image:url("../assets/funi/Bojo3.jpeg");} 
  66% {background-image:url("../assets/funi/KimJongUn.jpeg");}
  84% {background-image:url("../assets/funi/fart.jpeg");}
  100% {background-image:url("../assets/funi/Bojo.jpeg");} 
  
}

@keyframes textRainbow {
  0% {background-color: red;}
  16% {background-color: orange;}
  32% {background-color: yellow;}
  48% {background-image:green;} 
  64% {background-color: blue;}
  80% {background-color: purple;}
  100% {background-color: red;}
}

@media (prefers-reduced-motion) {
  html, body {
    animation: none;
  }
  
  a, p, h1 {
    color: darkslategrey;
    animation: none;
    padding: 4px;
  }
}