---
import Layout from "../../../../../layouts/archived/pfl-layout.astro";
---

<Layout title="Salary Pay vs Commission Pay / Job security / Financial Security | Personal Finance Stuff">
    <div class=main-content>
        <main class=block-content>
            <div data-section-name=content class="jw-section jw-section-content jw-responsive">
                <div class="jw-tree-node jw-element jw-strip-root jw-tree-container jw-node-is-first-child jw-node-is-last-child">
                    <div class="jw-tree-node jw-element jw-strip jw-tree-container jw-strip--default jw-strip--style-color jw-strip--color-default jw-strip--padding-both jw-node-is-first-child jw-strip--primary jw-node-is-last-child">
                        <div class=jw-strip__content-container>
                            <div class="jw-strip__content jw-responsive">
                                <div class="jw-tree-node jw-element jw-image-text jw-node-is-first-child jw-node-is-last-child">
                                    <div class=jw-element-imagetext-text>
                                        <h2 class=jw-heading-100>Salary Pay vs Commission Pay</h2>
                                        <p><span style=color:#4e3ac4>Most jobs offer compensation via a salary or
                                                hourly wage pay. However, some offer only pay on commissions, and
                                                some have mixed pay (e.g. waiters, tips+wage). These kinds of jobs
                                                can offer higher average yearly compensation, however they do not
                                                have consistent pay. This article will help you decide which is best
                                                for you.</span></p>
                                        <h3 class=jw-heading-70><span style=color:#4e3ac4>Pros and cons of
                                                commission pay</span></h3>
                                        <p><strong><span style=color:#4e3ac4>Pros:</span></strong></p>
                                        <p><span style=color:#4e3ac4>- Typically commission pay can earn you more in
                                                the long run, as no one likes sporadic pay</span></p>
                                        <p><span style=color:#4e3ac4>- It can be helpful in transitioning to
                                                self-employment or even retirement</span></p>
                                        <p><strong><span style=color:#4e3ac4>Cons:</span></strong></p>
                                        <p><span style=color:#4e3ac4>- Inconsistent</span></p>
                                        <p><span style=color:#4e3ac4>- Makes taxes harder</span></p>
                                        <h3 class=jw-heading-70><span style=color:#4e3ac4>Pros and cons of salary /
                                                hourly pay</span></h3>
                                        <p><strong><span style=color:#4e3ac4>Pros:</span></strong></p>
                                        <p><span style=color:#4e3ac4>- Consistent</span></p>
                                        <p><span style=color:#4e3ac4>- (Wage) How many hours you put in * hourly
                                                rate = Money earned</span></p>
                                        <p><span style=color:#4e3ac4>- (Salary) You get paid the same amount (plus
                                                bonuses) every year</span></p>
                                        <p><strong><span style=color:#4e3ac4>Cons:</span></strong></p>
                                        <p><span style=color:#4e3ac4>- Typically earns less in the long run</span>
                                        </p>
                                        <p><span style=color:#4e3ac4>- Can make it harder to change jobs into
                                                something with a different schedule</span></p>
                                        <p>&nbsp;</p>
                                        <p><strong><span style=color:#4e3ac4>Hope you found this useful! Happy
                                                    job</span></strong><span style=color:#4e3ac4><strong>
                                                    hunting!</strong></span><span style=color:#4e3ac4></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</Layout>