html, body {
  background-image:url(../images/holymolyemoji.jpeg);
  background-size:3%;
  height:100%;
  width:100%;
}

#holyh1 {
  background-color: white;
  text-align: center;
  color: red;
  height:10%;
  width:18%;
  text-align: center;
}

#holymoly-buttons {
  background-color: black;
  color: white;
  font-type: helvetica;
  text-align: center;
}
