body {
    background-color:darkblue;
    color:whitesmoke;
    font-family:'Calibri', Helvetica, sans-serif;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}

.button {
    font-size:24px;
    padding: 12px;
    background-color: rgb(0, 0, 169);
    border-width:0px;
    border-radius:14px;
    color: white;
    margin-right: 32px;
}
  
.main {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
}

#esd {
    text-align:left;
    display: flex;
    justify-content: center;
    align-items: center;
}


#buttonlt{    
    font-size:12px;
    padding: 8px;
    background-color: rgb(0, 0, 169);
    border-width:0px;
    border-radius:8px;
    color: white;
    text-align:center;
}

#buttonlt:hover{
    background-color: orangered;
}

button:hover{
    background-color: orangered;
}